StepmotorSetup/flows.json
[{"id":"c1d1c8877083d891","type":"tab","label":"Joystick Supervisor","disabled":false,"info":""},{"id":"a7229483019e8a0c","type":"tab","label":"Horizontal","disabled":true,"info":"","env":[]},{"id":"72f1cdfc672fc4f4","type":"tab","label":"Vertical","disabled":true,"info":"","env":[]},{"id":"968c897cab62b6e4","type":"tab","label":"Backplane","disabled":false,"info":"","env":[]},{"id":"ffb1a001","type":"tab","label":"ETH IP Setup","disabled":false,"info":""},{"id":"eed4f5a48c9fc817","type":"tab","label":"Horizontal Vertical CLEAN","disabled":false,"info":"Felles Modbus RTU-kø. Vertical=unitID 1, Horizontal=unitID 2.\nOppdatert: aktiv/disable per motor. Motor fases ut etter gjentatte read-feil, og kan enables igjen fra dashboard."},{"id":"tab_motor_diag_d2_buttons","type":"tab","label":"Motor Driver Diagnose D2 buttons","disabled":false,"info":"Dashboard 2 with two buttons: Read Snapshot Both and Reset Peaks Both."},{"id":"9c35740dc8a288d3","type":"group","z":"c1d1c8877083d891","name":"SW Joystick","style":{"label":true},"nodes":["c47245a4afd5ec36","fb198c1cc09d8fea"],"x":54,"y":59,"w":262,"h":82},{"id":"b62f2924c82632d3","type":"group","z":"c1d1c8877083d891","name":"Supervisor","style":{"label":true},"nodes":["c743409b280d212d","5dc54258bc7682dd","d65fb5f612250464","aca7aac7ef000b52","94745237cb5454d0","23a8034c1d2b80ee","37b3659326e895a4","bd61bec4a5482a1f","9117f8792421ef98","8de4714c2cef28cd","66df13abdc6b0251","0ee2ca4ea20f8766","0af9b0b02a48896a","75a2f81d913c9972","f156891925cd6605","8e7b5442d6895908","a9fab4eb5325bea5","ebeddeb0681ea8f3","eba7bbb3bb1fd274","d749c1e59f5f7010"],"x":54,"y":159,"w":1022,"h":602},{"id":"6fcb15e7937daeef","type":"group","z":"a7229483019e8a0c","name":"Horizontal","style":{"label":true},"nodes":["dff6910a8fd9ec1e","ce76833b8813379d","6f90a2c6266790ba","85bf873bef09c921","83c1e950df1714da","5efcbc64aef4a1ce","88bcfee3c3b97a81","62c9831112dbf095","cd6ef7eba78c1d78","b160ac58ac7bce19","0c88d960f4ab2489","331fec62e7a5a659","79cd45c2303b5a91","d1e6ee0e04606b6f","898c1f2cec36e3e9","98e90e6d595821e0","2f6043e6ec4440d2","5936cf0b289ba920","971eb6b3ca86c224","913e090d66a35518","ef60c0c3d42ce4af","adf69fa39400e1bb","181ac0ae2c4a8bc1","70d924f82edb2ad4","de218298b0126ba5","c8869f655b81c5db","e7a6108f6606d12a","cf332f3e881ad04d","6f6364bbf6566261","392000a3d11074f0","b688945090c0fec6","3ed4178a54a73ab2","70a4f7a51451fb44","b51fdad4ac6fa17b","7e435d52fb50f330","505f970748e897e8","c40fc6c5fdd679cc","b87ccbbdcd04a653","cc6eaf0f626a6960","4c6d95c9ad725011","d8f95b9cc70cbc3a","94e77f3dc5b5b68b","9861b4302d42601e","7c3ec31a787ece46","6f6113cbd4929870","61711bf6e707df53","5b2b18e8e2401576","a00b43311c973c0f","a20b4ab44d1cf898","28ed782e68fb1b5a","39d1871480894505","8c1c80b8d2c597ac","7c96263d9f40ffb7","99f4750f85b375f8","0e7cfaed30a7df4c","764b14b030599398","b639b7846f526ba0","2a62806712e86fdf","51ebb3bf323d6245","7099e48ccc50c10a","90309bbcc82fa277","7a8d50a7dc41c674","7bb0a9ad139a8df6","dbb29e5a9e323019","092bdce070cb387b","85b7f9a73a4eaa14","09bef4794be952e4","fcd940afcdf4b197","b1a577d1305d94ae","bbe49bfafc91101b","ab3f04bd6dd28d0d","3f476e1d69c06a2e","87ebe19370f5658d","b54025e83f1002ff","3fb23495b1b313e2","53f63824d82dad65","9bd341b64af8835a","f7f9288e2362f76c","0f31b650813044d9","7d817c3a5ab6c6de","35c760c4b2860fa6","5a46fbea34758bb1","c0e031628e6a170f"],"x":64,"y":59,"w":1142,"h":1742},{"id":"6d3302deccc9a81a","type":"group","z":"72f1cdfc672fc4f4","name":"Vertical","style":{"label":true},"nodes":["ace691f0fef2c4fe","83f31a98a28505ab","3a2dd9a8405e328d","39cc3367e2ced351","f0ab2e12782b8401","bf1cf2289dee6d69","4a4bde2aa71db5c9","e0b23ea4d3da3e72","3099aaf5ab55347d","7d0355d32d47f2b1","835dcee60f04e908","596fdb71f91a25e3","321f77f8d807c42d","fd7a23047c9da15e","e3f7a357d6a70c05","690b1771df96ab73","79cf7f6bb2e03bf2","5c369484ca3f4407","59fc1bfa3d12402a","d2ce6395a2931b2f","2a6ec1e6b4c17f4a","a2f5a92aadcab9ba","14cf3c29dde6f7de","0e086e3adf42dea9","1d935667e164e5ac","3b01801ab7bdb077","8e78d55492f3d040","fb167049359473fe","d12be78db018deba","0a9abc4ea642e59b","c27a7b6bb43ec14d","030f259600ce6879","a3cafb69ffa02282","88ff8056ff54d4d2","3a238a4b2ce06e6b","03d2e8f5e91d08bb","aa9073c68ad03974","22c2035e4d299cd7","9484b90c17db067a","5f25af58e93a936d","8cdf232a0056b05c","52143ec4349b68d2","afc63baaaede4d7e","6471b788acd9c517","c5426aa4b2510b16","b14a5ba5e344561f","8df117d116812ede","667f47baf4061dfa","93d09ae12ded61b5","eebf1342d0199744","e821f979387aadce","5f84e2e3bb02d427","5c3b5bbf62ee61f8","bd6f65fded3d77e7","d32020c3c11807d0","006b581d1a98b0ae","0935a5530b5c4114","f50a3e0caaf2841f","e179a4c70e615ae8","cfb0d01f9bf2f939","71063a3a2caff2a7","1e35e53b61155ab1","86b1d96e47bd8bad","f4b877e2d4f24495","39dd1968d4615ad8","80cae025cf77ed4b","ef60cfb8c7d6249b","04e261bf9ea2c3d3"],"x":54,"y":59,"w":1112,"h":1142},{"id":"ui_theme_caf03aa7","type":"ui-theme","name":"Default","colors":{"surface":"#ffffff"}},{"id":"ui_base_1c2d836c","type":"ui-base","name":"UI","path":"/ui","includeClientData":true,"acceptsClientConfig":["ui-control","ui-notification","ui-gauge"]},{"id":"ui_page_6e4d7719","type":"ui-page","name":"Joystick","ui":"ui_base_1c2d836c","path":"/joy","icon":"mdi-gamepad-variant","layout":"grid","theme":"ui_theme_caf03aa7","order":6},{"id":"ui_group_5a8979ca","type":"ui-group","name":"Control","page":"ui_page_6e4d7719","width":6,"height":"","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"f27047c870e23250","type":"modbus-client","name":"Serial Port","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS0","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":500,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"65ef06048e9eedeb","type":"ui-page","name":"Backplane","ui":"ui_base_1c2d836c","path":"/oppsett","icon":"home","layout":"grid","theme":"ui_theme_caf03aa7","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":4,"className":"","visible":"true","disabled":"false"},{"id":"d478b117bb9c34ea","type":"ui-group","name":"IP","page":"65ef06048e9eedeb","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ffb1a003","type":"ui-page","name":"Network","ui":"ui_base_1c2d836c","path":"/network","icon":"settings_ethernet","layout":"grid","theme":"ui_theme_caf03aa7","breakpoints":[{"name":"Default","px":"0","cols":"12"}],"order":5,"className":"","visible":"true","disabled":"false"},{"id":"ffb1a004","type":"ui-group","name":"ETH0 statisk IP","page":"ffb1a003","width":"8","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"2ddded951571a71b","type":"ui-page","name":"Horiz","ui":"ui_base_1c2d836c","path":"/horiz","icon":"home","layout":"grid","theme":"ui_theme_caf03aa7","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":true,"disabled":false},{"id":"a4556111239bd81f","type":"ui-group","name":"Horizontal","page":"2ddded951571a71b","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"c52e9f76b3a14e78","type":"ui-page","name":"Vert","ui":"ui_base_1c2d836c","path":"/vert","icon":"start","layout":"grid","theme":"ui_theme_caf03aa7","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":3,"className":"","visible":"true","disabled":"false"},{"id":"1f73adc33df375c4","type":"ui-group","name":"Vertical","page":"c52e9f76b3a14e78","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"f6d83a75a1ec7364","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":true,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":50,"clientTimeout":250,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"hv_modbus_client","type":"modbus-client","name":"RS485 Motor Bus","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":true,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":100,"clientTimeout":500,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"hv_theme","type":"ui-theme","name":"Default","colors":{"surface":"#ffffff"}},{"id":"hv_page","type":"ui-page","name":"Motor CLEAN","ui":"ui_base_1c2d836c","path":"/motor-clean","icon":"home","layout":"grid","theme":"hv_theme","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":true,"disabled":false},{"id":"f850a674e989caf7","type":"shared-state","name":"myVertical_ratio","lbl":"","tags":"","historyCount":2,"dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"","saveInterval":"0"},{"id":"4fc351d180d90359","type":"shared-state","name":"myHorizontal_ratio","lbl":"","tags":"","historyCount":2,"dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"","saveInterval":"0"},{"id":"e68cd5bb89eb3aeb","type":"ui-group","name":"Configuration","page":"hv_page","width":"4","height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"e194e44d93f41213","type":"ui-group","name":"Horizontal unitID 2","page":"hv_page","width":4,"height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"c4e0adf5a2730504","type":"ui-group","name":"Vertical unitID 1","page":"hv_page","width":4,"height":1,"order":3,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"c49791c8b1c9ec6e","type":"ui-spacer","group":"e194e44d93f41213","name":"spacer","tooltip":"","order":7,"width":"3","height":1,"className":""},{"id":"37b3487b392f20e0","type":"ui-spacer","group":"c4e0adf5a2730504","name":"spacer","tooltip":"","order":7,"width":"3","height":1,"className":""},{"id":"8aded5e33a851714","type":"ui-spacer","group":"c4e0adf5a2730504","name":"spacer","tooltip":"","order":11,"width":"4","height":1,"className":""},{"id":"ui_page_motor_diag_v2","type":"ui-page","name":"Motor Diagnose","ui":"ui_base_1c2d836c","path":"/motor-diagnose","icon":"mdi-engine","layout":"grid","theme":"hv_theme","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":7,"className":"","visible":"true","disabled":"false"},{"id":"ui_group_motor_diag_ctrl_v2","type":"ui-group","name":"Control","page":"ui_page_motor_diag_v2","width":"4","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ui_group_motor_diag_table_buttons","type":"ui-group","name":"Register values","page":"ui_page_motor_diag_v2","width":"12","height":"1","order":2,"showTitle":true,"className":"","visible":true,"disabled":false},{"id":"c743409b280d212d","type":"link in","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"JOY_RAW_IN (from UI joystick)","links":["fb198c1cc09d8fea"],"x":115,"y":200,"wires":[["5dc54258bc7682dd"]]},{"id":"5dc54258bc7682dd","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Normalize + Tag session + Source=joystick","func":"/*\nExpect msg.payload = {x,y} from the UI joystick.\nAdds msg.source, msg.session and normalizes payload.\n*/\n\nfunction num(v, d=0){\n  const n = Number(v);\n  return Number.isFinite(n) ? n : d;\n}\n\nif (!msg.payload || typeof msg.payload !== 'object') return null;\n\nconst x = num(msg.payload.x, 0);\nconst y = num(msg.payload.y, 0);\n\n// Best-effort session extraction (Dashboard 2 varies a bit)\nconst session = msg.session\n  || msg._sessionid\n  || (msg._client && (msg._client.socketid || msg._client.id))\n  || msg.socketid\n  || msg._socketId\n  || msg._msgid;\n\nmsg.payload = { x, y };\nmsg.source = 'joystick';\nmsg.session = session;\nmsg.topic = 'joystick';\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[["d65fb5f612250464","c584319395562d63","5727685e18f43ddd"]]},{"id":"d65fb5f612250464","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Ownership Arbiter (single browser owner)","func":"/*\nOwnership lock:\n- One session owns joystick at a time.\n- If owner is silent for CLAIM_TIMEOUT_MS, lock releases.\n- Only owner messages pass through.\n*/\n\nconst CLAIM_TIMEOUT_MS = 1000;\n\nconst now = Date.now();\nconst session = msg.session;\nif (!session) return null;\n\nlet owner = context.get('owner') || null;\nlet lastSeen = context.get('lastSeen') || 0;\n\n// Release stale owner\nif (owner && (now - lastSeen) > CLAIM_TIMEOUT_MS) {\n  owner = null;\n}\n\n// Claim if free\nif (!owner) {\n  owner = session;\n}\n\n// Only owner passes\nif (session !== owner) {\n  node.status({fill:'yellow', shape:'ring', text:`reject ${session} (owner ${owner})`});\n  return null;\n}\n\nlastSeen = now;\ncontext.set('owner', owner);\ncontext.set('lastSeen', lastSeen);\n\nmsg.owner = owner;\nnode.status({fill:'green', shape:'dot', text:`owner ${owner} x:${msg.payload.x} y:${msg.payload.y}`});\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["8de4714c2cef28cd"]]},{"id":"aca7aac7ef000b52","type":"link in","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"AUTOPILOT_IN (optional)","links":[],"x":115,"y":320,"wires":[["37b3659326e895a4"]]},{"id":"94745237cb5454d0","type":"link in","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"OVERRIDE_IN (optional)","links":[],"x":115,"y":380,"wires":[["bd61bec4a5482a1f"]]},{"id":"23a8034c1d2b80ee","type":"link in","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"SAFETY_IN (optional)","links":[],"x":115,"y":440,"wires":[["9117f8792421ef98"]]},{"id":"37b3659326e895a4","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Normalize Source=autopilot","func":"function num(v,d=0){ const n=Number(v); return Number.isFinite(n)?n:d; }\nif(!msg.payload || typeof msg.payload!=='object') return null;\nmsg.payload = { x: num(msg.payload.x,0), y: num(msg.payload.y,0) };\nmsg.source = 'autopilot';\nmsg.topic = 'autopilot';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":320,"wires":[["8de4714c2cef28cd"]]},{"id":"bd61bec4a5482a1f","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Normalize Source=override","func":"function num(v,d=0){ const n=Number(v); return Number.isFinite(n)?n:d; }\nif(!msg.payload || typeof msg.payload!=='object') return null;\nmsg.payload = { x: num(msg.payload.x,0), y: num(msg.payload.y,0) };\nmsg.source = 'override';\nmsg.topic = 'override';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":380,"wires":[["8de4714c2cef28cd"]]},{"id":"9117f8792421ef98","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Normalize Source=safety","func":"function num(v,d=0){ const n=Number(v); return Number.isFinite(n)?n:d; }\nif(!msg.payload || typeof msg.payload!=='object') return null;\nmsg.payload = { x: num(msg.payload.x,0), y: num(msg.payload.y,0) };\nmsg.source = 'safety';\nmsg.topic = 'safety';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":440,"wires":[["8de4714c2cef28cd"]]},{"id":"8de4714c2cef28cd","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Priority Arbiter (safety>override>autopilot>joystick)","func":"/*\nStores last message from each source and selects highest priority.\nPriority order: safety > override > autopilot > joystick\n\nInput must have:\n- msg.source in {'safety','override','autopilot','joystick'}\n- msg.payload {x,y}\n\nOutput: selected msg with msg.selectedSource\n*/\n\nconst PRIO = ['safety','override','autopilot','joystick'];\n\nconst src = msg.source || msg.topic;\nif (!src) return null;\n\n// Store last msg per source\nflow.set(`src:${src}:msg`, {\n  payload: msg.payload,\n  source: src,\n  owner: msg.owner,\n  session: msg.session,\n  ts: Date.now()\n});\n\n// Helper: source active flag (set by presence of recent msg)\n// You can tighten these timeouts later per source.\nconst ACTIVE_MS = {\n  safety: 500,\n  override: 800,\n  autopilot: 800,\n  joystick: 400\n};\n\nlet selected = null;\nfor (const s of PRIO) {\n  const m = flow.get(`src:${s}:msg`);\n  if (!m) continue;\n  const age = Date.now() - (m.ts || 0);\n  if (age <= (ACTIVE_MS[s] || 500)) {\n    selected = m;\n    break;\n  }\n}\n\n// If nothing active, output nothing (watchdog will force zero)\nif (!selected) {\n  node.status({fill:'grey', shape:'ring', text:'no active source'});\n  return null;\n}\n\nnode.status({fill:'blue', shape:'dot', text:`active ${selected.source} x:${selected.payload.x} y:${selected.payload.y}`});\nreturn {\n  payload: selected.payload,\n  selectedSource: selected.source,\n  owner: selected.owner,\n  session: selected.session,\n  topic: 'selected'\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":340,"wires":[["66df13abdc6b0251"]]},{"id":"66df13abdc6b0251","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Update watchdog state","func":"/*\nUpdates watchdog lastSeen and lastOut whenever we have a selected output.\n*/\n\nconst now = Date.now();\nflow.set('wd:lastSeen', now);\nflow.set('wd:lastOut', msg.payload);\nflow.set('wd:lastSource', msg.selectedSource || msg.source || 'unknown');\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":400,"wires":[["8e7b5442d6895908"]]},{"id":"0ee2ca4ea20f8766","type":"inject","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Watchdog tick (1s)","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"2","topic":"watchdog_tick","x":190,"y":540,"wires":[["0af9b0b02a48896a"]]},{"id":"0af9b0b02a48896a","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Watchdog (force 0,0 on silence)","func":"/*\nForces 0,0 if no selected output seen within TIMEOUT_MS.\nAlso sends 0,0 twice for reliability.\n*/\n\nconst TIMEOUT_MS = 300;\n\nconst now = Date.now();\nconst lastSeen = flow.get('wd:lastSeen') || 0;\nconst lastOut = flow.get('wd:lastOut') || {x:0,y:0};\nconst lastSource = flow.get('wd:lastSource') || 'none';\n\nif ((now - lastSeen) > TIMEOUT_MS) {\n  node.status({fill:'red', shape:'dot', text:`TIMEOUT (${lastSource}) -> 0,0`});\n  // Two zero messages\n  const z1 = { payload:{x:0,y:0}, selectedSource:'watchdog', reason:'timeout' };\n  const z2 = { payload:{x:0,y:0}, selectedSource:'watchdog', reason:'timeout2' };\n  // Emit first now; second as a separate output via context flag\n  context.set('wd:pendingZero2', true);\n  return [z1];\n}\n\n// optional: you can keepalive lastOut here if wanted, but default is silent\nnode.status({fill:'green', shape:'ring', text:`ok (${lastSource})`});\nreturn null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":600,"wires":[["8e7b5442d6895908","75a2f81d913c9972"]]},{"id":"75a2f81d913c9972","type":"delay","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Zero #2 (30ms)","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":660,"wires":[["f156891925cd6605"]]},{"id":"f156891925cd6605","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Gate Zero #2 (only if pending)","func":"const pending = context.get('wd:pendingZero2') || false;\nif (!pending) return null;\ncontext.set('wd:pendingZero2', false);\nmsg.payload = {x:0,y:0};\nmsg.selectedSource = 'watchdog';\nmsg.reason = 'timeout2';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["8e7b5442d6895908"]]},{"id":"8e7b5442d6895908","type":"function","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"Split XY (2 outputs)","func":"const x = (msg.payload && typeof msg.payload.x === 'number') ? msg.payload.x : 0;\nconst y = (msg.payload && typeof msg.payload.y === 'number') ? msg.payload.y : 0;\n\nconst src = msg.selectedSource || msg.source || 'unknown';\n\nnode.status({fill:'green', shape:'dot', text:`${src} x:${x} y:${y}`});\n\nreturn [\n  { topic:'joy/x', payload:x, source:src, owner:msg.owner, session:msg.session, reason:msg.reason },\n  { topic:'joy/y', payload:y, source:src, owner:msg.owner, session:msg.session, reason:msg.reason }\n];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":500,"wires":[["a9fab4eb5325bea5","eba7bbb3bb1fd274"],["ebeddeb0681ea8f3","d749c1e59f5f7010"]]},{"id":"a9fab4eb5325bea5","type":"link out","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"JOY_X_OUT","mode":"link","links":[],"x":1000,"y":480,"wires":[]},{"id":"ebeddeb0681ea8f3","type":"link out","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"JOY_Y_OUT","mode":"link","links":[],"x":1000,"y":520,"wires":[]},{"id":"eba7bbb3bb1fd274","type":"debug","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"DBG X","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"d749c1e59f5f7010","type":"debug","z":"c1d1c8877083d891","g":"b62f2924c82632d3","name":"DBG Y","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":580,"wires":[]},{"id":"c47245a4afd5ec36","type":"ui-template","z":"c1d1c8877083d891","g":"9c35740dc8a288d3","group":"ui_group_5a8979ca","page":"","ui":"","name":"SW Joystick","order":1,"width":0,"height":0,"head":"","format":"<template>\n  <div class=\"joy-wrap\">\n    <svg\n      ref=\"svg\"\n      viewBox=\"0 0 240 240\"\n      class=\"joy\"\n      @pointerdown=\"onDown\"\n      @pointermove=\"onMove\"\n      @pointerup=\"onUp\"\n      @pointercancel=\"onUp\"\n      @pointerleave=\"onLeave\"\n    >\n      <circle :cx=\"C\" :cy=\"C\" :r=\"R\" class=\"base\" />\n      <line :x1=\"C\" :y1=\"C-R\" :x2=\"C\" :y2=\"C+R\" class=\"hair\"/>\n      <line :x1=\"C-R\" :y1=\"C\" :x2=\"C+R\" :y2=\"C\" class=\"hair\"/>\n\n      <!-- deadzone ring -->\n      <circle :cx=\"C\" :cy=\"C\" :r=\"deadzonePx\" class=\"deadzone\"/>\n\n      <!-- axis-lock hint rings (valgfritt) -->\n      <circle :cx=\"C\" :cy=\"C\" :r=\"R*0.55\" class=\"hint\"/>\n\n      <circle :cx=\"knobX\" :cy=\"knobY\" :r=\"K\" class=\"knob\"/>\n    </svg>\n\n    <div class=\"readout\">\n      x: {{ x }} &nbsp; y: {{ y }}\n      <span class=\"meta\">\n        {{ dragging ? \"DRAG\" : \"IDLE\" }} · {{ lockedAxis }}\n      </span>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      S: 240,\n      C: 120,\n      R: 95,\n      K: 26,\n\n      // --- 1) Soft deadzone ramp ---\n      deadzone: 7,      // % of R where output starts\n      ramp: 18,         // % of R over which output ramps 0->linear (deadzone+ r*0.18)\n      expo: 1.25,       // >1 = more fine control near center\n\n      invertY: true,\n\n      // Visual spring only\n      spring: 0.18,\n      damping: 0.72,\n\n      // --- 2) Axis lock ---\n      axisLockEnabled: true,\n      axisLockRatio: 2.2,    // lock if one axis dominates the other by this factor\n      axisLockMinPct: 18,    // only lock when magnitude is at least this %\n\n      // --- 4) Adaptive update rate ---\n      sendHzDrag: 30,        // while dragging\n      sendHzIdle: 5,         // when idle (0,0 keepalive optional)\n      keepaliveIdle: false,  // if true: keeps sending last value at idle rate\n      sendOnChangeOnly: true,\n      changeThreshold: 1,    // % change before sending (x/y delta)\n\n      dragging: false,\n      pointerId: null,\n\n      knobX: 120,\n      knobY: 120,\n      targetX: 120,\n      targetY: 120,\n      vx: 0,\n      vy: 0,\n\n      x: 0,\n      y: 0,\n\n      lockedAxis: \"FREE\",    // \"X\", \"Y\", \"FREE\"\n\n      lastSendTs: 0,\n      lastSent: { x: 0, y: 0 },\n      rafId: null\n    };\n  },\n\n  computed: {\n    deadzonePx() {\n      return (this.deadzone / 100) * this.R;\n    },\n    rampPx() {\n      return (this.ramp / 100) * this.R;\n    },\n    sendIntervalDragMs() {\n      return Math.round(1000 / this.sendHzDrag);\n    },\n    sendIntervalIdleMs() {\n      return Math.round(1000 / this.sendHzIdle);\n    }\n  },\n\n  mounted() {\n    this.startAnim();\n    this.nrSend({ x: 0, y: 0 }, true);\n  },\n\n  beforeUnmount() {\n    if (this.rafId) cancelAnimationFrame(this.rafId);\n  },\n\n  methods: {\n    clamp(v, min, max) { return Math.max(min, Math.min(max, v)); },\n\n    // Robust mapping: bounding rect -> viewBox\n    getSvgPoint(evt) {\n      const svg = this.$refs.svg;\n      const rect = svg.getBoundingClientRect();\n      const w = rect.width || 1;\n      const h = rect.height || 1;\n\n      const x = ((evt.clientX - rect.left) / w) * this.S;\n      const y = ((evt.clientY - rect.top) / h) * this.S;\n      return { x, y };\n    },\n\n    constrain(dx, dy) {\n      const dist = Math.hypot(dx, dy);\n      if (dist > this.R && dist > 0) {\n        const s = this.R / dist;\n        dx *= s; dy *= s;\n      }\n      return { dx, dy };\n    },\n\n    // 1) Soft deadzone + ramp + expo shaping\n    // returns normalized magnitude in [0..1]\n    softMag(dist) {\n      const dz = this.deadzonePx;\n      const rampEnd = dz + this.rampPx;\n\n      if (dist <= dz) return 0;\n\n      // 0..1 ramp region\n      if (dist < rampEnd) {\n        const t = (dist - dz) / Math.max(1e-6, (rampEnd - dz)); // 0..1\n        // smoothstep for gentle start\n        const s = t * t * (3 - 2 * t);\n        // scale down to avoid sudden jump after ramp\n        return Math.pow(s, this.expo) * (rampEnd / this.R);\n      }\n\n      // beyond ramp: normal linear, still apply expo slightly\n      const lin = dist / this.R; // 0..1\n      return Math.pow(this.clamp(lin, 0, 1), this.expo);\n    },\n\n    // 2) Axis lock\n    applyAxisLock(xPct, yPct) {\n      if (!this.axisLockEnabled) {\n        this.lockedAxis = \"FREE\";\n        return { xPct, yPct };\n      }\n\n      const ax = Math.abs(xPct);\n      const ay = Math.abs(yPct);\n      const mag = Math.max(ax, ay);\n\n      // only lock after some magnitude\n      if (mag < this.axisLockMinPct) {\n        this.lockedAxis = \"FREE\";\n        return { xPct, yPct };\n      }\n\n      if (ax > ay * this.axisLockRatio) {\n        this.lockedAxis = \"X\";\n        return { xPct, yPct: 0 };\n      }\n\n      if (ay > ax * this.axisLockRatio) {\n        this.lockedAxis = \"Y\";\n        return { xPct: 0, yPct };\n      }\n\n      this.lockedAxis = \"FREE\";\n      return { xPct, yPct };\n    },\n\n    toOutput(dx, dy) {\n      const dist = Math.hypot(dx, dy);\n      const m = this.softMag(dist); // 0..1 after shaping\n\n      if (m === 0) return { x: 0, y: 0 };\n\n      const ux = dist > 0 ? dx / dist : 0;\n      const uy = dist > 0 ? dy / dist : 0;\n\n      let x = Math.round(ux * m * 100);\n      let y = Math.round(uy * m * 100);\n\n      if (this.invertY) y = -y;\n\n      x = this.clamp(x, -100, 100);\n      y = this.clamp(y, -100, 100);\n\n      const locked = this.applyAxisLock(x, y);\n      return { x: locked.xPct, y: locked.yPct };\n    },\n\n    // 4) Adaptive + change-only sending\n    shouldSend(out, force) {\n      if (force) return true;\n\n      const now = Date.now();\n      const interval = this.dragging ? this.sendIntervalDragMs : this.sendIntervalIdleMs;\n\n      if (now - this.lastSendTs < interval) return false;\n\n      if (this.sendOnChangeOnly) {\n        const dx = Math.abs(out.x - this.lastSent.x);\n        const dy = Math.abs(out.y - this.lastSent.y);\n        if (dx < this.changeThreshold && dy < this.changeThreshold) {\n          // allow keepalive at idle if enabled\n          if (!this.dragging && this.keepaliveIdle) return true;\n          return false;\n        }\n      }\n\n      // if idle and keepalive disabled, don't keep spamming zeros\n      if (!this.dragging && !this.keepaliveIdle && out.x === 0 && out.y === 0) return false;\n\n      return true;\n    },\n\n    nrSend(out, force = false) {\n      if (!this.shouldSend(out, force)) return;\n\n      this.lastSendTs = Date.now();\n      this.lastSent = { x: out.x, y: out.y };\n\n      if (typeof this.send === \"function\") {\n        this.send({ payload: { x: out.x, y: out.y } });\n      }\n    },\n\n    setTarget(evt) {\n      const p = this.getSvgPoint(evt);\n      let dx = p.x - this.C;\n      let dy = p.y - this.C;\n      const c = this.constrain(dx, dy);\n      this.targetX = this.C + c.dx;\n      this.targetY = this.C + c.dy;\n    },\n\n    onDown(evt) {\n      evt.preventDefault();\n\n      this.dragging = true;\n      this.pointerId = evt.pointerId;\n      this.$refs.svg.setPointerCapture(this.pointerId);\n\n      this.setTarget(evt);\n\n      // lock knob to pointer instantly\n      this.knobX = this.targetX;\n      this.knobY = this.targetY;\n      this.vx = 0;\n      this.vy = 0;\n\n      const out = this.toOutput(this.targetX - this.C, this.targetY - this.C);\n      this.x = out.x;\n      this.y = out.y;\n      this.nrSend(out, true);\n    },\n\n    onMove(evt) {\n      if (!this.dragging || evt.pointerId !== this.pointerId) return;\n      evt.preventDefault();\n\n      this.setTarget(evt);\n\n      // output follows pointer (target), not knob\n      const out = this.toOutput(this.targetX - this.C, this.targetY - this.C);\n      this.x = out.x;\n      this.y = out.y;\n      this.nrSend(out, false);\n    },\n\n    onUp(evt) {\n      if (evt.pointerId !== this.pointerId) return;\n      this.release();\n    },\n\n    onLeave() {\n      if (this.dragging) this.release();\n    },\n\n    release() {\n      this.dragging = false;\n      this.pointerId = null;\n\n      this.lockedAxis = \"FREE\";\n\n      // spring back visually\n      this.targetX = this.C;\n      this.targetY = this.C;\n\n      // send 0,0 twice (safety)\n      const zero = { x: 0, y: 0 };\n      this.x = 0;\n      this.y = 0;\n      this.nrSend(zero, true);\n      setTimeout(() => this.nrSend(zero, true), 30);\n    },\n\n    startAnim() {\n      const step = () => {\n        const ax = (this.targetX - this.knobX) * this.spring;\n        const ay = (this.targetY - this.knobY) * this.spring;\n\n        this.vx = (this.vx + ax) * this.damping;\n        this.vy = (this.vy + ay) * this.damping;\n\n        this.knobX += this.vx;\n        this.knobY += this.vy;\n\n        this.rafId = requestAnimationFrame(step);\n      };\n      this.rafId = requestAnimationFrame(step);\n    }\n  }\n};\n</script>\n\n<style>\n.joy-wrap{\n  user-select:none;\n  -webkit-user-select:none;\n  touch-action:none;\n  min-height:320px;\n  overflow:visible;\n  padding: 8px 8px 0 8px;\n}\n\n.joy{\n  width:320px;\n  height:260px;\n  display:block;\n}\n\n.base{\n  fill:rgba(0,0,0,0.04);\n  stroke:rgba(0,0,0,0.28);\n  stroke-width:3;\n}\n.hair{\n  stroke:rgba(0,0,0,0.18);\n  stroke-width:2;\n}\n.deadzone{\n  fill:none;\n  stroke:rgba(0,0,0,0.16);\n  stroke-dasharray:4 4;\n}\n.hint{\n  fill:none;\n  stroke:rgba(0,0,0,0.06);\n  stroke-width:2;\n}\n.knob{\n  fill:rgba(0,0,0,0.10);\n  stroke:rgba(0,0,0,0.30);\n  stroke-width:3;\n}\n.readout{\n  margin-top:8px;\n  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\",\"Courier New\", monospace;\n  opacity:0.9;\n}\n.meta{\n  margin-left: 10px;\n  opacity: 0.6;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":150,"y":100,"wires":[["fb198c1cc09d8fea"]]},{"id":"fb198c1cc09d8fea","type":"link out","z":"c1d1c8877083d891","g":"9c35740dc8a288d3","name":"JOY_RAW_OUT (connect UI joystick here)","mode":"link","links":["c743409b280d212d"],"x":275,"y":100,"wires":[]},{"id":"c584319395562d63","type":"debug","z":"c1d1c8877083d891","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"5727685e18f43ddd","type":"function","z":"c1d1c8877083d891","name":"Split XY (2 outputs)","func":"const x = (msg.payload && typeof msg.payload.x === 'number') ? msg.payload.x : 0;\nconst y = (msg.payload && typeof msg.payload.y === 'number') ? msg.payload.y : 0;\n\nconst src = msg.selectedSource || msg.source || 'unknown';\n\nnode.status({fill:'green', shape:'dot', text:`${src} x:${x} y:${y}`});\n\nreturn [\n  { topic:'joy/x', payload:x, source:src, owner:msg.owner, session:msg.session, reason:msg.reason },\n  { topic:'joy/y', payload:y, source:src, owner:msg.owner, session:msg.session, reason:msg.reason }\n];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":80,"wires":[["eac12edfd8840a8f","c86351a6ae0a9544"],["dad0f12bd1ddcdde"]]},{"id":"eac12edfd8840a8f","type":"link out","z":"c1d1c8877083d891","name":"JOY_X_OUT(RAW)","mode":"link","links":[],"x":955,"y":60,"wires":[]},{"id":"dad0f12bd1ddcdde","type":"link out","z":"c1d1c8877083d891","name":"JOY_Y_OUT(RAW)","mode":"link","links":[],"x":955,"y":100,"wires":[]},{"id":"d11c4871338d9e0d","type":"function","z":"c1d1c8877083d891","name":"horiz","func":"// INPUT:\n// msg.payload = joystick verdi (-100 ... 100)\n\n// OUTPUT:\n// msg.payload = registerverdi (0x00CA)\n// + debug info i msg.jog\n\nlet joy = Number(msg.payload);\nif (isNaN(joy)) return null;\n\n// Deadband rundt null (hindrer \"dirring\")\nconst deadband = 5;\n\n// Register limits\nconst MAX_SPEED = 511;\n\nlet direction = 0;   // 0 = CW, 1 = CCW\nlet speed = 0;\nlet stopMode = 0;    // 0 = decelerate stop\nlet startStop = 0;   // 0 = stop, 1 = run\n\nif (Math.abs(joy) <= deadband) {\n    // STOP\n    startStop = 0;\n    speed = 0;\n} else {\n    // RUN\n    startStop = 1;\n    direction = (joy < 0) ? 1 : 0;\n\n    // map (deadband..100) -> (0..511)\n    let mag = Math.abs(joy);\n    let scaled = (mag - deadband) / (100 - deadband);\n\n    if (scaled < 0) scaled = 0;\n    if (scaled > 1) scaled = 1;\n\n    speed = Math.round(scaled * MAX_SPEED);\n}\n\n// bygg register\nlet regValue =\n    (direction << 15) |\n    (speed << 6) |\n    (stopMode << 5) |\n    (startStop);\n\n// output\nmsg.payload = regValue;\n\n// debug/info (veldig nyttig i ditt oppsett)\nmsg.jog = {\n    joystick: joy,\n    direction: direction === 0 ? \"CW\" : \"CCW\",\n    speed,\n    start: startStop,\n    stopMode,\n    hex: \"0x\" + regValue.toString(16).toUpperCase().padStart(4, \"0\")\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":100,"wires":[["5a47ea2ab192cee2","086cc6382b24b0ae"]]},{"id":"5a47ea2ab192cee2","type":"function","z":"c1d1c8877083d891","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 202,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":40,"wires":[[]]},{"id":"086cc6382b24b0ae","type":"debug","z":"c1d1c8877083d891","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1260,"y":200,"wires":[]},{"id":"c86351a6ae0a9544","type":"delay","z":"c1d1c8877083d891","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1050,"y":140,"wires":[["d11c4871338d9e0d"]]},{"id":"dff6910a8fd9ec1e","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build REG 212 Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 212,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":180,"wires":[["ce76833b8813379d","c0e031628e6a170f"]]},{"id":"ce76833b8813379d","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"REG 212","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":710,"y":180,"wires":[["79cd45c2303b5a91","39d1871480894505"],["39d1871480894505"]]},{"id":"6f90a2c6266790ba","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build REG 200 Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 200,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":340,"wires":[["85bf873bef09c921"]]},{"id":"85bf873bef09c921","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"REG 200","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":560,"y":280,"wires":[["39d1871480894505"],["39d1871480894505"]]},{"id":"83c1e950df1714da","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Enable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"0","payloadType":"num","x":240,"y":160,"wires":[["dff6910a8fd9ec1e"]]},{"id":"5efcbc64aef4a1ce","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Disable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":200,"wires":[["dff6910a8fd9ec1e"]]},{"id":"88bcfee3c3b97a81","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"CCW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"257","payloadType":"num","x":230,"y":380,"wires":[["6f6113cbd4929870"]]},{"id":"62c9831112dbf095","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":230,"y":340,"wires":[["9861b4302d42601e"]]},{"id":"cd6ef7eba78c1d78","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"CW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":300,"wires":[["7c3ec31a787ece46"]]},{"id":"b160ac58ac7bce19","type":"comment","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Horizontal motor","info":"","x":240,"y":100,"wires":[]},{"id":"0c88d960f4ab2489","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build REG 154 Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 154,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":500,"wires":[["331fec62e7a5a659"]]},{"id":"331fec62e7a5a659","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"REG 154","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":980,"y":440,"wires":[["d1e6ee0e04606b6f"],[]]},{"id":"79cd45c2303b5a91","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"payload = payload.value","func":"\nreturn {payload: msg.payload.value};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":180,"wires":[[]]},{"id":"d1e6ee0e04606b6f","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"payload = payload.value","func":"\nreturn {payload: msg.payload.value};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":380,"wires":[[]]},{"id":"898c1f2cec36e3e9","type":"trigger","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"100","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":440,"wires":[["28ed782e68fb1b5a"]]},{"id":"98e90e6d595821e0","type":"inject","z":"a7229483019e8a0c","d":true,"g":"6fcb15e7937daeef","name":"Poll ERROR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":200,"y":600,"wires":[["2f6043e6ec4440d2"]]},{"id":"2f6043e6ec4440d2","type":"function","z":"a7229483019e8a0c","d":true,"g":"6fcb15e7937daeef","name":"Build ERROR Flex req","func":"msg.payload = {\n  fc: 3,\n  unitid: 2,\n  address: 163,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":560,"wires":[["5936cf0b289ba920"]]},{"id":"5936cf0b289ba920","type":"modbus-flex-getter","z":"a7229483019e8a0c","d":true,"g":"6fcb15e7937daeef","name":"ERROR","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"f6d83a75a1ec7364","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","x":550,"y":560,"wires":[["971eb6b3ca86c224","913e090d66a35518"],[]]},{"id":"971eb6b3ca86c224","type":"debug","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":540,"wires":[]},{"id":"913e090d66a35518","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"function 3","func":"// Read Alarm Status WORD -> node.status + msg.payload\n// Viser også hvilke bit som er satt\n\nfunction toU16(v) {\n    if (v === null || v === undefined) return null;\n    if (typeof v === \"string\") {\n        const n = parseInt(v.trim(), 0); // støtter hex\n        if (Number.isNaN(n)) return null;\n        return n & 0xFFFF;\n    }\n    const n = Number(v);\n    if (Number.isNaN(n)) return null;\n    return n & 0xFFFF;\n}\n\nconst ALARM_TEXT = {\n    0: \"Normal\",\n    1: \"Motor phase overcurrent\",\n    2: \"Supply voltage too high\",\n    3: \"Supply voltage too low\",\n    4: \"Motor A phase open circuit\",\n    5: \"Motor B phase open circuit\",\n    6: \"Other alarms / position out of tolerance\",\n    7: \"Internal 24V voltage offset\",\n    8: \"AI voltage error\",\n    9: \"BI voltage error\",\n    10: \"Encoder error\"\n};\n\nfunction codeText(code) {\n    return ALARM_TEXT.hasOwnProperty(code)\n        ? ALARM_TEXT[code]\n        : `Unknown(${code})`;\n}\n\nconst w = toU16(msg.payload);\n\nif (w === null) {\n    const txt = \"Alarm WORD: ugyldig payload\";\n    node.status({ fill: \"red\", shape: \"ring\", text: txt });\n    msg.payload = txt;\n    return msg;\n}\n\n// --------- Finn hvilke bit som er satt ----------\nlet setBits = [];\nfor (let i = 0; i < 16; i++) {\n    if (w & (1 << i)) setBits.push(i);\n}\nconst bitsTxt = setBits.length ? setBits.join(\",\") : \"none\";\n\n// --------- Alarm nibbles ----------\nconst cur = (w >> 0)  & 0x0F;\nconst h1  = (w >> 4)  & 0x0F;\nconst h2  = (w >> 8)  & 0x0F;\nconst h3  = (w >> 12) & 0x0F;\n\nfunction fmt(tag, code) {\n    return `${tag}:${code}${code===0 ? \"\" : \" \" + codeText(code)}`;\n}\n\n// Status tekst\nconst statusText =\n    `0x${w.toString(16).toUpperCase().padStart(4,\"0\")} | bits:[${bitsTxt}] | ` +\n    `${fmt(\"CUR\",cur)} | ${fmt(\"H1\",h1)} | ${fmt(\"H2\",h2)} | ${fmt(\"H3\",h3)}`;\n\n// Node status (kort versjon så den ikke kuttes)\nnode.status({\n    fill: cur === 0 ? \"green\" : \"red\",\n    shape: cur === 0 ? \"ring\" : \"dot\",\n    text: `CUR:${cur} bits:[${bitsTxt}]`\n});\n\n// Full tekst ut\nmsg.payload = statusText;\n\n// Ekstra debug-data (valgfritt, veldig nyttig)\nmsg.alarm = {\n    raw: w,\n    hex: \"0x\" + w.toString(16).toUpperCase().padStart(4,\"0\"),\n    bits_set: setBits,\n    current: { code: cur, text: codeText(cur) },\n    history1: { code: h1, text: codeText(h1) },\n    history2: { code: h2, text: codeText(h2) },\n    history3: { code: h3, text: codeText(h3) }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":580,"wires":[[]]},{"id":"ef60c0c3d42ce4af","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build REG 164 Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 164,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":700,"wires":[["adf69fa39400e1bb"]]},{"id":"adf69fa39400e1bb","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"REG 164","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":730,"y":700,"wires":[[],[]]},{"id":"181ac0ae2c4a8bc1","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Clear Error","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":240,"y":700,"wires":[["ef60c0c3d42ce4af"]]},{"id":"70d924f82edb2ad4","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"function 6","func":"\nreturn {payload: msg.payload*7};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["0c88d960f4ab2489"]]},{"id":"de218298b0126ba5","type":"trigger","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"100","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":500,"wires":[["a20b4ab44d1cf898"]]},{"id":"c8869f655b81c5db","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Poll Abs. Pos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"","payloadType":"date","x":450,"y":620,"wires":[["e7a6108f6606d12a"]]},{"id":"e7a6108f6606d12a","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Abs. Pos Flex req","func":"msg.payload = {\n  fc: 3,\n  unitid: 2,\n  address: 4,\n  quantity: 2\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":620,"wires":[["cf332f3e881ad04d"]]},{"id":"cf332f3e881ad04d","type":"modbus-flex-getter","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Abs. Pos","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"f6d83a75a1ec7364","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","x":870,"y":620,"wires":[["6f6364bbf6566261","39d1871480894505"],[]]},{"id":"6f6364bbf6566261","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"RAW Pos.","func":"// msg.payload[0] = LOW WORD\n// msg.payload[1] = HIGH WORD\n\nlet raw32 = (msg.payload[1] * 0x10000) + msg.payload[0];\n\n// Konverter uint32 -> int32 (two's complement)\nif (raw32 & 0x80000000) {\n    raw32 = raw32 - 0x100000000;\n}\n\nreturn [\n    { payload: raw32 },\n    { payload: { angle: 180*raw32/100000, beam:10, min: -90, max: 120, mountOffset: 45, boatHeading: 0 } }\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":680,"wires":[["8c1c80b8d2c597ac","99f4750f85b375f8"],["87ebe19370f5658d","5a46fbea34758bb1"]]},{"id":"392000a3d11074f0","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 210,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1120,"wires":[["b688945090c0fec6"]]},{"id":"b688945090c0fec6","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1120,"wires":[[],[]]},{"id":"3ed4178a54a73ab2","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs pos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":200,"y":1120,"wires":[["61711bf6e707df53"]]},{"id":"70a4f7a51451fb44","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 211,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1180,"wires":[["b51fdad4ac6fa17b"]]},{"id":"b51fdad4ac6fa17b","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1180,"wires":[[],[]]},{"id":"7e435d52fb50f330","type":"delay","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":500,"y":1180,"wires":[["70a4f7a51451fb44"]]},{"id":"505f970748e897e8","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 206,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1260,"wires":[["c40fc6c5fdd679cc"]]},{"id":"c40fc6c5fdd679cc","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1260,"wires":[[],[]]},{"id":"b87ccbbdcd04a653","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Set Abs pos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100000","payloadType":"num","x":200,"y":1260,"wires":[["94e77f3dc5b5b68b"]]},{"id":"cc6eaf0f626a6960","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 207,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1320,"wires":[["4c6d95c9ad725011"]]},{"id":"4c6d95c9ad725011","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1320,"wires":[[],[]]},{"id":"d8f95b9cc70cbc3a","type":"delay","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":500,"y":1320,"wires":[["cc6eaf0f626a6960"]]},{"id":"94e77f3dc5b5b68b","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"function 8","func":"// Input: msg.payload = int32\n// Output: msg.payload = [LOW_WORD, HIGH_WORD]\n\nlet v = Number(msg.payload);\n\n// Tving til signed int32\nv = v >> 0;\n\n// Konverter til uint32 representation\nlet u32 = v >>> 0;\n\n// Del opp i to WORDs\nlet lo = u32 & 0xFFFF;\nlet hi = (u32 >>> 16) & 0xFFFF;\n\n//msg.payload = [lo, hi];\n\nreturn [\n    {payload: lo},\n    {payload: hi}\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1260,"wires":[["505f970748e897e8"],["d8f95b9cc70cbc3a"]]},{"id":"9861b4302d42601e","type":"ui-button","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Hor. Stop","order":4,"width":0,"height":0,"emulateClick":true,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":380,"y":340,"wires":[["6f90a2c6266790ba","7c96263d9f40ffb7"]]},{"id":"7c3ec31a787ece46","type":"ui-button","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Hor. CW","order":5,"width":0,"height":0,"emulateClick":true,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":380,"y":300,"wires":[["6f90a2c6266790ba","7c96263d9f40ffb7"]]},{"id":"6f6113cbd4929870","type":"ui-button","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Hor. CCW","order":3,"width":0,"height":0,"emulateClick":true,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"257","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":380,"y":380,"wires":[["6f90a2c6266790ba","7c96263d9f40ffb7"]]},{"id":"61711bf6e707df53","type":"ui-button","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Reset Abs. Pos","order":8,"width":0,"height":0,"emulateClick":true,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":390,"y":1120,"wires":[["392000a3d11074f0","7e435d52fb50f330"]]},{"id":"5b2b18e8e2401576","type":"ui-number-input","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Hor. Speed +/-10","order":6,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":"100","step":"10","tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":290,"y":440,"wires":[["898c1f2cec36e3e9"]]},{"id":"a00b43311c973c0f","type":"ui-number-input","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Hor. Speed +/-1","order":7,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":300,"y":500,"wires":[["de218298b0126ba5"]]},{"id":"a20b4ab44d1cf898","type":"rbe","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":670,"y":500,"wires":[["5b2b18e8e2401576","70d924f82edb2ad4"]]},{"id":"28ed782e68fb1b5a","type":"rbe","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":670,"y":440,"wires":[["a00b43311c973c0f","70d924f82edb2ad4"]]},{"id":"39d1871480894505","type":"modbus-response","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","registerShowMax":20,"x":910,"y":300,"wires":[]},{"id":"8c1c80b8d2c597ac","type":"ui-text","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","order":9,"width":0,"height":0,"name":"","label":"Pos","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"payload","valueType":"msg","x":1050,"y":720,"wires":[]},{"id":"7c96263d9f40ffb7","type":"change","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","rules":[{"t":"set","p":"lastHorCmd","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[[]]},{"id":"99f4750f85b375f8","type":"switch","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-100000","vt":"num"},{"t":"gt","v":"100000","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":600,"wires":[["9861b4302d42601e"],["9861b4302d42601e"]]},{"id":"0e7cfaed30a7df4c","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 208,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1380,"wires":[["764b14b030599398"]]},{"id":"764b14b030599398","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1380,"wires":[[],[]]},{"id":"b639b7846f526ba0","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Goto 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":160,"y":1420,"wires":[["7a8d50a7dc41c674"]]},{"id":"2a62806712e86fdf","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 209,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1440,"wires":[["51ebb3bf323d6245"]]},{"id":"51ebb3bf323d6245","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1440,"wires":[[],[]]},{"id":"7099e48ccc50c10a","type":"delay","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":500,"y":1440,"wires":[["2a62806712e86fdf"]]},{"id":"90309bbcc82fa277","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"function 1","func":"// Input: msg.payload = int32\n// Output: msg.payload = [LOW_WORD, HIGH_WORD]\n\nlet v = Number(msg.payload);\n\n// Tving til signed int32\nv = v >> 0;\n\n// Konverter til uint32 representation\nlet u32 = v >>> 0;\n\n// Del opp i to WORDs\nlet lo = u32 & 0xFFFF;\nlet hi = (u32 >>> 16) & 0xFFFF;\n\n//msg.payload = [lo, hi];\n\nreturn [\n    {payload: lo},\n    {payload: hi}\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1380,"wires":[["0e7cfaed30a7df4c"],["7099e48ccc50c10a"]]},{"id":"7a8d50a7dc41c674","type":"ui-slider","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Goto Abs. pos.","tooltip":"","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":"-100000","max":"100000","step":"100","className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":310,"y":1380,"wires":[["90309bbcc82fa277"]]},{"id":"7bb0a9ad139a8df6","type":"ui-number-input","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Goto number","order":11,"width":0,"height":0,"topic":"topic","topicType":"msg","min":"-180","max":"180","step":"1","tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":170,"y":1760,"wires":[["b54025e83f1002ff"]]},{"id":"dbb29e5a9e323019","type":"ui-button","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","name":"","label":"Goto","order":2,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"mySetValue","payloadType":"flow","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":140,"y":1380,"wires":[["7a8d50a7dc41c674"]]},{"id":"092bdce070cb387b","type":"change","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","rules":[{"t":"set","p":"mySetValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1760,"wires":[[]]},{"id":"85b7f9a73a4eaa14","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 110,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1500,"wires":[["09bef4794be952e4"]]},{"id":"09bef4794be952e4","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1500,"wires":[[],[]]},{"id":"fcd940afcdf4b197","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Set Neg limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-100000","payloadType":"num","x":190,"y":1500,"wires":[["3f476e1d69c06a2e"]]},{"id":"b1a577d1305d94ae","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 111,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1560,"wires":[["bbe49bfafc91101b"]]},{"id":"bbe49bfafc91101b","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1560,"wires":[[],[]]},{"id":"ab3f04bd6dd28d0d","type":"delay","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":490,"y":1560,"wires":[["b1a577d1305d94ae"]]},{"id":"3f476e1d69c06a2e","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"int32 -> [LW,HW]","func":"// Input: msg.payload = int32\n// Output: msg.payload = [LOW_WORD, HIGH_WORD]\n\nlet v = Number(msg.payload);\n\n// Tving til signed int32\nv = v >> 0;\n\n// Konverter til uint32 representation\nlet u32 = v >>> 0;\n\n// Del opp i to WORDs\nlet lo = u32 & 0xFFFF;\nlet hi = (u32 >>> 16) & 0xFFFF;\n\n//msg.payload = [lo, hi];\n\nreturn [\n    {payload: lo},\n    {payload: hi}\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1500,"wires":[["85b7f9a73a4eaa14"],["ab3f04bd6dd28d0d"]]},{"id":"87ebe19370f5658d","type":"ui-template","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","group":"a4556111239bd81f","page":"","ui":"","name":"","order":1,"width":0,"height":0,"head":"","format":"<template>\n  <div class=\"sl-wrap\">\n    <svg viewBox=\"0 0 300 300\" class=\"sl-svg\">\n\n      <defs>\n        <radialGradient id=\"beamGradient\" cx=\"50%\" cy=\"50%\" r=\"65%\">\n          <stop offset=\"0%\" stop-color=\"rgba(255,245,180,0.55)\" />\n          <stop offset=\"100%\" stop-color=\"rgba(255,245,180,0.08)\" />\n        </radialGradient>\n      </defs>\n\n      <!-- ring -->\n      <circle cx=\"150\" cy=\"150\" r=\"120\" class=\"ring\"/>\n\n      <!-- LIMIT AREA (roteres med offset) -->\n      <g :transform=\"`rotate(${mountOffset},150,150)`\">\n        <path :d=\"limitSectorPath\" class=\"limit-sector\"/>\n        <path :d=\"limitArcPath\" class=\"limit-arc\"/>\n\n        <g :transform=\"`rotate(${minAngle},150,150)`\">\n          <line x1=\"150\" y1=\"35\" x2=\"150\" y2=\"62\" class=\"limit-marker min\"/>\n          <text x=\"150\" y=\"76\" class=\"limit-label\">MIN</text>\n        </g>\n\n        <g :transform=\"`rotate(${maxAngle},150,150)`\">\n          <line x1=\"150\" y1=\"35\" x2=\"150\" y2=\"62\" class=\"limit-marker max\"/>\n          <text x=\"150\" y=\"76\" class=\"limit-label\">MAX</text>\n        </g>\n      </g>\n\n      <!-- ticks -->\n      <g>\n        <line x1=\"150\" y1=\"18\"  x2=\"150\" y2=\"34\"  class=\"tick major\"/>\n        <line x1=\"282\" y1=\"150\" x2=\"266\" y2=\"150\" class=\"tick major\"/>\n        <line x1=\"150\" y1=\"282\" x2=\"150\" y2=\"266\" class=\"tick major\"/>\n        <line x1=\"18\"  y1=\"150\" x2=\"34\"  y2=\"150\" class=\"tick major\"/>\n      </g>\n\n      <!-- labels -->\n      <text x=\"150\" y=\"48\"  class=\"label\">0°</text>\n      <text x=\"252\" y=\"155\" class=\"label\">90°</text>\n      <text x=\"150\" y=\"262\" class=\"label\">180°</text>\n      <text x=\"48\"  y=\"155\" class=\"label\">-90°</text>\n\n      <!-- SEARCHLIGHT -->\n      <g :transform=\"`rotate(${displayRotation},150,150)`\">\n        <path :d=\"beamPath\" :class=\"angleOk ? 'beam' : 'beam alarm'\"/>\n        <line x1=\"150\" y1=\"150\" x2=\"150\" y2=\"36\" :class=\"angleOk ? 'pointer' : 'pointer alarm'\"/>\n        <polygon points=\"150,22 143,38 157,38\" :class=\"angleOk ? 'arrow' : 'arrow alarm'\"/>\n      </g>\n\n      <!-- BOAT (FAST REFERANSE) -->\n      <g :transform=\"`rotate(${boatHeading},150,150)`\">\n        <path d=\"M150 108 C128 120,118 138,118 160 L118 186 C118 197,127 205,150 212 C173 205,182 197,182 186 L182 160 C182 138,172 120,150 108 Z\"\n              class=\"boat-body\"/>\n        <line x1=\"150\" y1=\"115\" x2=\"150\" y2=\"140\" class=\"boat-centerline\"/>\n      </g>\n\n      <!-- center -->\n      <circle cx=\"150\" cy=\"150\" r=\"10\" class=\"hub\"/>\n      <circle cx=\"150\" cy=\"150\" r=\"4\" class=\"hub-inner\"/>\n\n    </svg>\n\n    <div class=\"readout\">\n      <div :class=\"angleOk ? 'value' : 'value alarm'\">{{ displayAngle }}°</div>\n      <div class=\"caption\">Søkelysretning</div>\n      <div class=\"beamvalue\">Beam: {{ displayBeam }}°</div>\n      <div class=\"limitvalue\">Min: {{ displayMin }}° Max: {{ displayMax }}°</div>\n      <div class=\"offsetvalue\">Offset: {{ displayMountOffset }}°</div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      angle: 0,\n      beam: 10,\n      minAngle: -180,\n      maxAngle: 180,\n      mountOffset: 0,\n      boatHeading: 0\n    }\n  },\n\n  computed: {\n    displayRotation() {\n      return this.normalize(this.angle + this.mountOffset)\n    },\n\n    displayAngle() { return this.angle.toFixed(0) },\n    displayBeam() { return this.beam.toFixed(0) },\n    displayMin() { return this.minAngle.toFixed(0) },\n    displayMax() { return this.maxAngle.toFixed(0) },\n    displayMountOffset() { return this.mountOffset.toFixed(0) },\n\n    angleOk() {\n      return this.angle >= this.minAngle && this.angle <= this.maxAngle\n    },\n\n    beamPath() {\n      const r = 115\n      const h = this.beam / 2\n      return this.sector(150,150,r,-h,h)\n    },\n\n    limitSectorPath() {\n      return this.donut(150,150,82,120,this.minAngle,this.maxAngle)\n    },\n\n    limitArcPath() {\n      return this.arc(150,150,123,this.minAngle,this.maxAngle)\n    }\n  },\n\n  methods: {\n    normalize(a){\n      while(a>180)a-=360\n      while(a<-180)a+=360\n      return a\n    },\n\n    clamp(v,min,max){return Math.max(min,Math.min(max,v))},\n\n    polar(cx,cy,r,a){\n      const rad=a*Math.PI/180\n      return {x:cx+r*Math.sin(rad),y:cy-r*Math.cos(rad)}\n    },\n\n    arc(cx,cy,r,a1,a2){\n      const s=this.polar(cx,cy,r,a1)\n      const e=this.polar(cx,cy,r,a2)\n      const la=Math.abs(a2-a1)>180?1:0\n      return `M${s.x},${s.y} A${r},${r} 0 ${la},1 ${e.x},${e.y}`\n    },\n\n    sector(cx,cy,r,a1,a2){\n      const s=this.polar(cx,cy,r,a1)\n      const e=this.polar(cx,cy,r,a2)\n      const la=Math.abs(a2-a1)>180?1:0\n      return `M${cx},${cy} L${s.x},${s.y} A${r},${r} 0 ${la},1 ${e.x},${e.y} Z`\n    },\n\n    donut(cx,cy,r1,r2,a1,a2){\n      const p1=this.polar(cx,cy,r2,a1)\n      const p2=this.polar(cx,cy,r2,a2)\n      const p3=this.polar(cx,cy,r1,a2)\n      const p4=this.polar(cx,cy,r1,a1)\n      const la=Math.abs(a2-a1)>180?1:0\n\n      return `M${p1.x},${p1.y}\n      A${r2},${r2} 0 ${la},1 ${p2.x},${p2.y}\n      L${p3.x},${p3.y}\n      A${r1},${r1} 0 ${la},0 ${p4.x},${p4.y} Z`\n    },\n\n    setState(msg){\n      const p = msg.payload ?? msg\n\n      if (typeof p === \"number\") {\n        this.angle = this.clamp(p,-180,180)\n        return\n      }\n\n      if (!p) return\n\n      if(p.angle!=null) this.angle=this.clamp(+p.angle,-180,180)\n      if(p.beam!=null) this.beam=this.clamp(+p.beam,0,40)\n      if(p.min!=null) this.minAngle=this.clamp(+p.min,-180,180)\n      if(p.max!=null) this.maxAngle=this.clamp(+p.max,-180,180)\n\n      if(p.mountOffset!=null) this.mountOffset=this.normalize(+p.mountOffset)\n      if(p.boatHeading!=null) this.boatHeading=Math.abs(+p.boatHeading)>=90?180:0\n    }\n  },\n\n  mounted(){\n    if(this.msg) this.setState(this.msg)\n\n    this.$socket.on('msg-input:' + this.id, (msg)=>{\n      this.setState(msg)\n    })\n  },\n\n  watch:{\n    msg:{\n      deep:true,\n      handler(m){ this.setState(m) }\n    }\n  }\n}\n</script>\n\n<style>\n.sl-wrap{display:flex;flex-direction:column;align-items:center;background:#1113;border-radius:16px;padding:10px}\n.sl-svg{max-width:320px;width:100%}\n\n.ring{fill:#fff1;stroke:#fff6;stroke-width:2}\n\n.limit-sector{fill:#4fc37a22}\n.limit-arc{stroke:#4fc37a;stroke-width:4;fill:none}\n\n.limit-marker{stroke-width:4}\n.min{stroke:#4fc3f7}\n.max{stroke:#ffb74d}\n\n.label{fill:#fff;font-size:14px;text-anchor:middle}\n\n.beam{fill:url(#beamGradient)}\n.beam.alarm{fill:#f4433633}\n\n.pointer{stroke:#ffd54a;stroke-width:4}\n.pointer.alarm{stroke:#f44336}\n\n.arrow{fill:#ffd54a}\n.arrow.alarm{fill:#f44336}\n\n.boat-body{fill:#fff2;stroke:#fff}\n.boat-centerline{stroke:#fff}\n\n.hub{fill:#222;stroke:#fff}\n.hub-inner{fill:#ffd54a}\n\n.value{font-size:26px;font-weight:bold}\n.value.alarm{color:#f44336}\n\n.caption{font-size:12px;opacity:.7}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1040,"y":780,"wires":[[]]},{"id":"b54025e83f1002ff","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Range","func":"msg.payload = msg.payload*100000/180;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1760,"wires":[["092bdce070cb387b"]]},{"id":"3fb23495b1b313e2","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 112,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1620,"wires":[["53f63824d82dad65"]]},{"id":"53f63824d82dad65","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1620,"wires":[[],[]]},{"id":"9bd341b64af8835a","type":"inject","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Set Pos limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100000","payloadType":"num","x":190,"y":1620,"wires":[["35c760c4b2860fa6"]]},{"id":"f7f9288e2362f76c","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 113,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1680,"wires":[["0f31b650813044d9"]]},{"id":"0f31b650813044d9","type":"modbus-flex-write","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1680,"wires":[[],[]]},{"id":"7d817c3a5ab6c6de","type":"delay","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":490,"y":1680,"wires":[["f7f9288e2362f76c"]]},{"id":"35c760c4b2860fa6","type":"function","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"int32 -> [LW,HW]","func":"// Input: msg.payload = int32\n// Output: msg.payload = [LOW_WORD, HIGH_WORD]\n\nlet v = Number(msg.payload);\n\n// Tving til signed int32\nv = v >> 0;\n\n// Konverter til uint32 representation\nlet u32 = v >>> 0;\n\n// Del opp i to WORDs\nlet lo = u32 & 0xFFFF;\nlet hi = (u32 >>> 16) & 0xFFFF;\n\n//msg.payload = [lo, hi];\n\nreturn [\n    {payload: lo},\n    {payload: hi}\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1620,"wires":[["3fb23495b1b313e2"],["7d817c3a5ab6c6de"]]},{"id":"7e5204ead5c35f17","type":"comment","z":"a7229483019e8a0c","name":"To Do:","info":"Ramp down legges inn ved goto og sweep\nKopiere limits til sector limit for bruker\nLage operatörposisjoner goto home , park service\nLagre posisjon i raspberry","x":1190,"y":340,"wires":[]},{"id":"5a46fbea34758bb1","type":"debug","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":860,"wires":[]},{"id":"c0e031628e6a170f","type":"debug","z":"a7229483019e8a0c","g":"6fcb15e7937daeef","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":100,"wires":[]},{"id":"ace691f0fef2c4fe","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build REG 212 Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 212,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":160,"wires":[["83f31a98a28505ab"]]},{"id":"83f31a98a28505ab","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"REG 212","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":640,"y":160,"wires":[["321f77f8d807c42d","e821f979387aadce"],["e821f979387aadce"]]},{"id":"3a2dd9a8405e328d","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build REG 200 Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 200,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["39cc3367e2ced351"]]},{"id":"39cc3367e2ced351","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"REG 200","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":640,"y":220,"wires":[["e821f979387aadce"],["e821f979387aadce"]]},{"id":"f0ab2e12782b8401","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Enable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"0","payloadType":"num","x":180,"y":140,"wires":[["ace691f0fef2c4fe"]]},{"id":"bf1cf2289dee6d69","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Disable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":170,"y":180,"wires":[["ace691f0fef2c4fe"]]},{"id":"4a4bde2aa71db5c9","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"CCW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"257","payloadType":"num","x":170,"y":360,"wires":[["c5426aa4b2510b16"]]},{"id":"e0b23ea4d3da3e72","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":170,"y":320,"wires":[["afc63baaaede4d7e"]]},{"id":"3099aaf5ab55347d","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"CW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":170,"y":280,"wires":[["6471b788acd9c517"]]},{"id":"7d0355d32d47f2b1","type":"comment","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Vertival motor","info":"","x":190,"y":100,"wires":[]},{"id":"835dcee60f04e908","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build REG 154 Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 154,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":400,"wires":[["596fdb71f91a25e3"]]},{"id":"596fdb71f91a25e3","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"REG 154","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":820,"y":480,"wires":[["fd7a23047c9da15e"],[]]},{"id":"321f77f8d807c42d","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"payload = payload.value","func":"\nreturn {payload: msg.payload.value};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":140,"wires":[[]]},{"id":"fd7a23047c9da15e","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"payload = payload.value","func":"\nreturn {payload: msg.payload.value};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":480,"wires":[[]]},{"id":"e3f7a357d6a70c05","type":"trigger","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"100","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":420,"wires":[["eebf1342d0199744"]]},{"id":"690b1771df96ab73","type":"inject","z":"72f1cdfc672fc4f4","d":true,"g":"6d3302deccc9a81a","name":"Poll ERROR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["79cf7f6bb2e03bf2"]]},{"id":"79cf7f6bb2e03bf2","type":"function","z":"72f1cdfc672fc4f4","d":true,"g":"6d3302deccc9a81a","name":"Build ERROR Flex req","func":"msg.payload = {\n  fc: 3,\n  unitid: 2,\n  address: 163,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":540,"wires":[["5c369484ca3f4407"]]},{"id":"5c369484ca3f4407","type":"modbus-flex-getter","z":"72f1cdfc672fc4f4","d":true,"g":"6d3302deccc9a81a","name":"ERROR","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"f6d83a75a1ec7364","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","x":520,"y":540,"wires":[["59fc1bfa3d12402a","d2ce6395a2931b2f"],[]]},{"id":"59fc1bfa3d12402a","type":"debug","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":520,"wires":[]},{"id":"d2ce6395a2931b2f","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"function 4","func":"// Read Alarm Status WORD -> node.status + msg.payload\n// Viser også hvilke bit som er satt\n\nfunction toU16(v) {\n    if (v === null || v === undefined) return null;\n    if (typeof v === \"string\") {\n        const n = parseInt(v.trim(), 0); // støtter hex\n        if (Number.isNaN(n)) return null;\n        return n & 0xFFFF;\n    }\n    const n = Number(v);\n    if (Number.isNaN(n)) return null;\n    return n & 0xFFFF;\n}\n\nconst ALARM_TEXT = {\n    0: \"Normal\",\n    1: \"Motor phase overcurrent\",\n    2: \"Supply voltage too high\",\n    3: \"Supply voltage too low\",\n    4: \"Motor A phase open circuit\",\n    5: \"Motor B phase open circuit\",\n    6: \"Other alarms / position out of tolerance\",\n    7: \"Internal 24V voltage offset\",\n    8: \"AI voltage error\",\n    9: \"BI voltage error\",\n    10: \"Encoder error\"\n};\n\nfunction codeText(code) {\n    return ALARM_TEXT.hasOwnProperty(code)\n        ? ALARM_TEXT[code]\n        : `Unknown(${code})`;\n}\n\nconst w = toU16(msg.payload);\n\nif (w === null) {\n    const txt = \"Alarm WORD: ugyldig payload\";\n    node.status({ fill: \"red\", shape: \"ring\", text: txt });\n    msg.payload = txt;\n    return msg;\n}\n\n// --------- Finn hvilke bit som er satt ----------\nlet setBits = [];\nfor (let i = 0; i < 16; i++) {\n    if (w & (1 << i)) setBits.push(i);\n}\nconst bitsTxt = setBits.length ? setBits.join(\",\") : \"none\";\n\n// --------- Alarm nibbles ----------\nconst cur = (w >> 0)  & 0x0F;\nconst h1  = (w >> 4)  & 0x0F;\nconst h2  = (w >> 8)  & 0x0F;\nconst h3  = (w >> 12) & 0x0F;\n\nfunction fmt(tag, code) {\n    return `${tag}:${code}${code===0 ? \"\" : \" \" + codeText(code)}`;\n}\n\n// Status tekst\nconst statusText =\n    `0x${w.toString(16).toUpperCase().padStart(4,\"0\")} | bits:[${bitsTxt}] | ` +\n    `${fmt(\"CUR\",cur)} | ${fmt(\"H1\",h1)} | ${fmt(\"H2\",h2)} | ${fmt(\"H3\",h3)}`;\n\n// Node status (kort versjon så den ikke kuttes)\nnode.status({\n    fill: cur === 0 ? \"green\" : \"red\",\n    shape: cur === 0 ? \"ring\" : \"dot\",\n    text: `CUR:${cur} bits:[${bitsTxt}]`\n});\n\n// Full tekst ut\nmsg.payload = statusText;\n\n// Ekstra debug-data (valgfritt, veldig nyttig)\nmsg.alarm = {\n    raw: w,\n    hex: \"0x\" + w.toString(16).toUpperCase().padStart(4,\"0\"),\n    bits_set: setBits,\n    current: { code: cur, text: codeText(cur) },\n    history1: { code: h1, text: codeText(h1) },\n    history2: { code: h2, text: codeText(h2) },\n    history3: { code: h3, text: codeText(h3) }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":560,"wires":[[]]},{"id":"2a6ec1e6b4c17f4a","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build REG 164 Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 164,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":700,"wires":[["a2f5a92aadcab9ba"]]},{"id":"a2f5a92aadcab9ba","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"REG 164","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":620,"y":700,"wires":[[],[]]},{"id":"14cf3c29dde6f7de","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Clear Error","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":180,"y":700,"wires":[["2a6ec1e6b4c17f4a"]]},{"id":"0e086e3adf42dea9","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"function 5","func":"\nreturn {payload: msg.payload*7};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":400,"wires":[["835dcee60f04e908"]]},{"id":"1d935667e164e5ac","type":"trigger","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"100","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":480,"wires":[["93d09ae12ded61b5"]]},{"id":"3b01801ab7bdb077","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Poll Abs. Pos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":180,"y":640,"wires":[["8e78d55492f3d040"]]},{"id":"8e78d55492f3d040","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build Abs. Pos Flex req","func":"msg.payload = {\n  fc: 3,\n  unitid: 1,\n  address: 4,\n  quantity: 2\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":640,"wires":[["fb167049359473fe"]]},{"id":"fb167049359473fe","type":"modbus-flex-getter","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Abs. Pos","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"f6d83a75a1ec7364","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","x":620,"y":640,"wires":[["d12be78db018deba","04e261bf9ea2c3d3"],["04e261bf9ea2c3d3"]]},{"id":"d12be78db018deba","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Vertical pos","func":"// msg.payload[0] = LOW WORD\n// msg.payload[1] = HIGH WORD\n\nlet raw32 = (msg.payload[1] * 0x10000) + msg.payload[0];\n\n// Konverter uint32 -> int32 (two's complement)\nif (raw32 & 0x80000000) {\n    raw32 = raw32 - 0x100000000;\n}\n\nreturn [\n    { payload: raw32 },\n    { payload: { angle: 180 * raw32 / 2000, beam: 20 } } \n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":620,"wires":[["5f84e2e3bb02d427","bd6f65fded3d77e7"],["80cae025cf77ed4b"]]},{"id":"0a9abc4ea642e59b","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 210,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":780,"wires":[["c27a7b6bb43ec14d"]]},{"id":"c27a7b6bb43ec14d","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":780,"wires":[[],[]]},{"id":"030f259600ce6879","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Reset Abs pos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":780,"wires":[["b14a5ba5e344561f"]]},{"id":"a3cafb69ffa02282","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 211,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":840,"wires":[["88ff8056ff54d4d2"]]},{"id":"88ff8056ff54d4d2","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":840,"wires":[[],[]]},{"id":"3a238a4b2ce06e6b","type":"delay","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":490,"y":840,"wires":[["a3cafb69ffa02282"]]},{"id":"03d2e8f5e91d08bb","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 206,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":920,"wires":[["aa9073c68ad03974"]]},{"id":"aa9073c68ad03974","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":920,"wires":[[],[]]},{"id":"22c2035e4d299cd7","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Set Abs pos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100000","payloadType":"num","x":190,"y":920,"wires":[["52143ec4349b68d2"]]},{"id":"9484b90c17db067a","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 207,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":980,"wires":[["5f25af58e93a936d"]]},{"id":"5f25af58e93a936d","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":980,"wires":[[],[]]},{"id":"8cdf232a0056b05c","type":"delay","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":490,"y":980,"wires":[["9484b90c17db067a"]]},{"id":"52143ec4349b68d2","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"function 7","func":"// Input: msg.payload = int32\n// Output: msg.payload = [LOW_WORD, HIGH_WORD]\n\nlet v = Number(msg.payload);\n\n// Tving til signed int32\nv = v >> 0;\n\n// Konverter til uint32 representation\nlet u32 = v >>> 0;\n\n// Del opp i to WORDs\nlet lo = u32 & 0xFFFF;\nlet hi = (u32 >>> 16) & 0xFFFF;\n\n//msg.payload = [lo, hi];\n\nreturn [\n    {payload: lo},\n    {payload: hi}\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":920,"wires":[["03d2e8f5e91d08bb"],["8cdf232a0056b05c"]]},{"id":"afc63baaaede4d7e","type":"ui-button","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Vert. Stop","order":3,"width":0,"height":0,"emulateClick":true,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":320,"y":320,"wires":[["3a2dd9a8405e328d","5c3b5bbf62ee61f8"]]},{"id":"6471b788acd9c517","type":"ui-button","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Vert. CW","order":2,"width":0,"height":0,"emulateClick":true,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":320,"y":280,"wires":[["3a2dd9a8405e328d","5c3b5bbf62ee61f8"]]},{"id":"c5426aa4b2510b16","type":"ui-button","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Vert. CCW","order":4,"width":0,"height":0,"emulateClick":true,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"257","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":330,"y":360,"wires":[["3a2dd9a8405e328d","5c3b5bbf62ee61f8"]]},{"id":"b14a5ba5e344561f","type":"ui-button","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Reset Abs. Pos","order":11,"width":0,"height":0,"emulateClick":true,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":380,"y":780,"wires":[["0a9abc4ea642e59b","3a238a4b2ce06e6b"]]},{"id":"8df117d116812ede","type":"ui-number-input","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Vert. Speed +/-10","order":6,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":"100","step":"10","tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":230,"y":420,"wires":[["e3f7a357d6a70c05"]]},{"id":"667f47baf4061dfa","type":"ui-number-input","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Vert. Speed +/-1","order":5,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":240,"y":480,"wires":[["1d935667e164e5ac"]]},{"id":"93d09ae12ded61b5","type":"rbe","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":610,"y":480,"wires":[["8df117d116812ede","0e086e3adf42dea9"]]},{"id":"eebf1342d0199744","type":"rbe","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":610,"y":420,"wires":[["667f47baf4061dfa","0e086e3adf42dea9"]]},{"id":"e821f979387aadce","type":"modbus-response","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","registerShowMax":20,"x":850,"y":180,"wires":[]},{"id":"5f84e2e3bb02d427","type":"ui-text","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","order":10,"width":0,"height":0,"name":"","label":"Pos","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"payload","valueType":"msg","x":990,"y":660,"wires":[]},{"id":"5c3b5bbf62ee61f8","type":"change","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","rules":[{"t":"set","p":"lastHorCmd","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"bd6f65fded3d77e7","type":"switch","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-100000","vt":"num"},{"t":"gt","v":"100000","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":620,"wires":[["afc63baaaede4d7e"],["afc63baaaede4d7e"]]},{"id":"d32020c3c11807d0","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 208,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1040,"wires":[["006b581d1a98b0ae"]]},{"id":"006b581d1a98b0ae","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1040,"wires":[[],[]]},{"id":"0935a5530b5c4114","type":"inject","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Goto 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":170,"y":980,"wires":[["1e35e53b61155ab1"]]},{"id":"f50a3e0caaf2841f","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 1,\n  address: 209,\n  quantity: 1\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1100,"wires":[["e179a4c70e615ae8"]]},{"id":"e179a4c70e615ae8","type":"modbus-flex-write","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Reset Abs Pos Horiz","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"f6d83a75a1ec7364","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":1020,"y":1100,"wires":[[],[]]},{"id":"cfb0d01f9bf2f939","type":"delay","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":490,"y":1100,"wires":[["f50a3e0caaf2841f"]]},{"id":"71063a3a2caff2a7","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"function 8","func":"// Input: msg.payload = int32\n// Output: msg.payload = [LOW_WORD, HIGH_WORD]\n\nlet v = Number(msg.payload);\n\n// Tving til signed int32\nv = v >> 0;\n\n// Konverter til uint32 representation\nlet u32 = v >>> 0;\n\n// Del opp i to WORDs\nlet lo = u32 & 0xFFFF;\nlet hi = (u32 >>> 16) & 0xFFFF;\n\n//msg.payload = [lo, hi];\n\nreturn [\n    {payload: lo},\n    {payload: hi}\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1040,"wires":[["d32020c3c11807d0"],["cfb0d01f9bf2f939"]]},{"id":"1e35e53b61155ab1","type":"ui-slider","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Goto Abs. pos.","tooltip":"","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":"-100000","max":"100000","step":"100","className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":200,"y":1040,"wires":[["71063a3a2caff2a7"]]},{"id":"86b1d96e47bd8bad","type":"ui-number-input","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Goto number","order":8,"width":0,"height":0,"topic":"topic","topicType":"msg","min":"-30","max":"30","step":"1","tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":190,"y":1160,"wires":[["ef60cfb8c7d6249b"]]},{"id":"f4b877e2d4f24495","type":"ui-button","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","name":"","label":"Goto","order":7,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"mySetValue","payloadType":"flow","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":170,"y":1100,"wires":[["1e35e53b61155ab1"]]},{"id":"39dd1968d4615ad8","type":"change","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","rules":[{"t":"set","p":"mySetValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1160,"wires":[[]]},{"id":"80cae025cf77ed4b","type":"ui-template","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","group":"1f73adc33df375c4","page":"","ui":"","name":"","order":1,"width":0,"height":0,"head":"","format":"<template>\n  <div class=\"sl-wrap\">\n    <svg viewBox=\"0 0 300 300\" class=\"sl-svg\">\n      <defs>\n        <radialGradient id=\"beamGradientV\" cx=\"50%\" cy=\"50%\" r=\"65%\">\n          <stop offset=\"0%\" stop-color=\"rgba(255,245,180,0.55)\" />\n          <stop offset=\"100%\" stop-color=\"rgba(255,245,180,0.08)\" />\n        </radialGradient>\n      </defs>\n\n      <!-- frame -->\n      <circle cx=\"90\" cy=\"150\" r=\"10\" class=\"hub\"/>\n      <circle cx=\"90\" cy=\"150\" r=\"4\" class=\"hub-inner\"/>\n\n      <!-- horizontal reference -->\n      <line x1=\"55\" y1=\"150\" x2=\"260\" y2=\"150\" class=\"zero-line\"/>\n\n      <!-- limit arc -30 to +30 -->\n      <path d=\"M231.6,220 A150,150 0 0,0 231.6,80\" class=\"limit-arc\"/>\n\n      <!-- tick marks -->\n      <line x1=\"220\" y1=\"150\" x2=\"245\" y2=\"150\" class=\"tick major\"/>\n      <line x1=\"203\" y1=\"85\" x2=\"224\" y2=\"73\" class=\"tick major\"/>\n      <line x1=\"203\" y1=\"215\" x2=\"224\" y2=\"227\" class=\"tick major\"/>\n\n      <!-- labels -->\n      <text x=\"258\" y=\"154\" class=\"label\">0°</text>\n      <text x=\"240\" y=\"72\" class=\"label\">+30°</text>\n      <text x=\"240\" y=\"232\" class=\"label\">-30°</text>\n\n      <!-- rotating beam/pointer -->\n      <g :transform=\"`rotate(${-angle}, 90, 150)`\">\n        <path :d=\"beamPath\" class=\"beam\"/>\n        <line x1=\"90\" y1=\"150\" x2=\"235\" y2=\"150\" class=\"pointer\"/>\n        <polygon points=\"250,150 232,142 232,158\" class=\"arrow\"/>\n      </g>\n    </svg>\n\n    <div class=\"readout\">\n      <div class=\"value\">{{ displayAngle }}°</div>\n      <div class=\"caption\">Søkelys vertikal</div>\n      <div class=\"beamvalue\">Beam: {{ displayBeam }}°</div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      angle: 0,\n      beam: 10\n    }\n  },\n\n  computed: {\n    displayAngle() {\n      return Number(this.angle).toFixed(0)\n    },\n\n    displayBeam() {\n      return Number(this.beam).toFixed(0)\n    },\n\n    beamPath() {\n      const cx = 90\n      const cy = 150\n      const r = 145\n\n      const half = this.beam / 2\n      const start = -half\n      const end = half\n\n      const toRad = (deg) => deg * Math.PI / 180\n\n      const x1 = cx + r * Math.cos(toRad(start))\n      const y1 = cy + r * Math.sin(toRad(start))\n\n      const x2 = cx + r * Math.cos(toRad(end))\n      const y2 = cy + r * Math.sin(toRad(end))\n\n      return `M${cx},${cy} L${x1},${y1} A${r},${r} 0 0,1 ${x2},${y2} Z`\n    }\n  },\n\n  methods: {\n    clampAngle(value) {\n      let a = Number(value)\n      if (isNaN(a)) return null\n      if (a > 30) a = 30\n      if (a < -30) a = -30\n      return a\n    },\n\n    setState(payload) {\n      if (typeof payload === \"number\") {\n        const a = this.clampAngle(payload)\n        if (a !== null) this.angle = a\n        return\n      }\n\n      if (typeof payload !== \"object\" || payload === null) return\n\n      if (payload.angle !== undefined) {\n        const a = this.clampAngle(payload.angle)\n        if (a !== null) this.angle = a\n      }\n\n      if (payload.beam !== undefined) {\n        let b = Number(payload.beam)\n        if (!isNaN(b)) {\n          if (b < 0) b = 0\n          if (b > 20) b = 20\n          this.beam = b\n        }\n      }\n    }\n  },\n\n  mounted() {\n    if (this.msg && this.msg.payload !== undefined) {\n      this.setState(this.msg.payload)\n    }\n\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n      if (msg && msg.payload !== undefined) {\n        this.setState(msg.payload)\n      }\n    })\n  },\n\n  watch: {\n    msg: {\n      deep: true,\n      handler(newMsg) {\n        if (newMsg && newMsg.payload !== undefined) {\n          this.setState(newMsg.payload)\n        }\n      }\n    }\n  }\n}\n</script>\n\n<style>\n.sl-wrap {\n  display: flex;\n  flex-direction: column;\n  align-items: center;\n  justify-content: center;\n  background: rgba(20,20,20,0.25);\n  border-radius: 18px;\n  padding: 10px;\n  min-height: 320px;\n}\n\n.sl-svg {\n  width: 100%;\n  max-width: 320px;\n  height: auto;\n}\n\n.zero-line {\n  stroke: rgba(255,255,255,0.25);\n  stroke-width: 2;\n  stroke-dasharray: 5 5;\n}\n\n.limit-arc {\n  fill: none;\n  stroke: rgba(255,255,255,0.35);\n  stroke-width: 2;\n}\n\n.tick {\n  stroke: rgba(255,255,255,0.35);\n  stroke-width: 2;\n  stroke-linecap: round;\n}\n\n.tick.major {\n  stroke: rgba(255,255,255,0.75);\n  stroke-width: 3;\n}\n\n.label {\n  fill: rgba(255,255,255,0.85);\n  font-size: 14px;\n  text-anchor: middle;\n  dominant-baseline: middle;\n  font-family: sans-serif;\n}\n\n.beam {\n  fill: url(#beamGradientV);\n  stroke: rgba(255, 235, 140, 0.55);\n  stroke-width: 1.5;\n}\n\n.pointer {\n  stroke: #ffd54a;\n  stroke-width: 4;\n  stroke-linecap: round;\n}\n\n.arrow {\n  fill: #ffd54a;\n}\n\n.hub {\n  fill: #1f1f1f;\n  stroke: rgba(255,255,255,0.6);\n  stroke-width: 2;\n}\n\n.hub-inner {\n  fill: #ffd54a;\n}\n\n.readout {\n  margin-top: 8px;\n  text-align: center;\n  font-family: sans-serif;\n}\n\n.value {\n  font-size: 28px;\n  font-weight: 700;\n  line-height: 1.1;\n}\n\n.caption {\n  font-size: 13px;\n  opacity: 0.75;\n}\n\n.beamvalue {\n  margin-top: 4px;\n  font-size: 14px;\n  opacity: 0.85;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1000,"y":700,"wires":[[]]},{"id":"ef60cfb8c7d6249b","type":"function","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"Range","func":"msg.payload = msg.payload*2000/180;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1160,"wires":[["39dd1968d4615ad8"]]},{"id":"e5fabd37e4f2aa1c","type":"comment","z":"72f1cdfc672fc4f4","name":"To Do:","info":"Ramp down legges inn ved goto og sweep\nKopiere limits til sector limit for bruker\nLage operatörposisjoner goto home , park service\nLagre posisjon i raspberry","x":1210,"y":560,"wires":[]},{"id":"04e261bf9ea2c3d3","type":"modbus-response","z":"72f1cdfc672fc4f4","g":"6d3302deccc9a81a","name":"","registerShowMax":20,"x":810,"y":680,"wires":[]},{"id":"b84c25435165d3ce","type":"modbus-read","z":"968c897cab62b6e4","name":"MODBUS Backplane","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"10","dataType":"HoldingRegister","adr":"1","quantity":"25","rate":"1","rateUnit":"s","delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","server":"f27047c870e23250","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":280,"y":80,"wires":[["9fcba274902024aa","b3d56d3ba10c34d7"],[]]},{"id":"9fcba274902024aa","type":"ui-text","z":"968c897cab62b6e4","group":"d478b117bb9c34ea","order":1,"width":0,"height":0,"name":"","label":"Registers","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"payload","valueType":"msg","x":600,"y":60,"wires":[]},{"id":"b3d56d3ba10c34d7","type":"function","z":"968c897cab62b6e4","name":"function 2","func":"\nreturn {payload: msg.payload[0]}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":100,"wires":[["692c68a2fc4ba197"]]},{"id":"f6019ca59ae26513","type":"link out","z":"968c897cab62b6e4","name":"link out IP","mode":"link","links":["96a9f246d154a9ac"],"x":855,"y":100,"wires":[]},{"id":"692c68a2fc4ba197","type":"rbe","z":"968c897cab62b6e4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":750,"y":100,"wires":[["f6019ca59ae26513","24a5ca12d628ee49"]]},{"id":"24a5ca12d628ee49","type":"debug","z":"968c897cab62b6e4","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":140,"wires":[]},{"id":"ffb1a005","type":"ui-dropdown","z":"ffb1a001","d":true,"group":"ffb1a004","name":"Velg IP","label":"Velg siste oktett","tooltip":"","order":1,"width":"4","height":"1","passthru":false,"multiple":false,"chips":false,"clearable":false,"options":[{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"}],"topic":"eth0_octet","topicType":"str","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":170,"y":120,"wires":[["ffb1a006"]]},{"id":"ffb1a006","type":"function","z":"ffb1a001","name":"Lagre valg","func":"const octet = String(msg.payload || '').trim();\nif (!/^(11|12|13|14|15|16|17|18|19)$/.test(octet)) {\n    msg.payload = '<span style=\"color:#d32f2f\">Ugyldig verdi</span>';\n    return msg;\n}\nflow.set('eth0_octet', octet);\nmsg.payload = `Valgt IP: <b>192.168.1.${octet}</b>`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":120,"wires":[["ffb1a00b","ffb1a008"]]},{"id":"ffb1a007","type":"ui-button","z":"ffb1a001","d":true,"group":"ffb1a004","name":"Apply","label":"Sett ETH0-IP","order":2,"width":"4","height":"1","emulateClick":false,"tooltip":"","className":"","icon":"check","iconPosition":"left","payload":"go","payloadType":"str","topic":"apply_eth0_ip","topicType":"str","buttonColor":"","textColor":"","enableClick":true,"x":170,"y":180,"wires":[["ffb1a008"]]},{"id":"ffb1a008","type":"function","z":"ffb1a001","name":"Bygg nmcli-kommando","func":"const octet = flow.get('eth0_octet');\nif (!octet || !/^(11|12|13|14|15|16|17|18|19)$/.test(octet)) {\n    return [{ payload: '<span style=\"color:#d32f2f\">Velg en IP mellom 11 og 19 først</span>' }, null];\n}\n\nconst ip = `192.168.1.${octet}/24`;\nconst con = 'netplan-eth0';\n\nmsg.ip = ip;\nmsg.payload = `sudo nmcli con mod \\\"${con}\\\" ipv4.addresses \\\"${ip}\\\" && sudo nmcli con mod \\\"${con}\\\" ipv4.method manual && sudo nmcli con up \\\"${con}\\\"`;\n\nreturn [\n  { payload: `Bytter ETH0 til <b>${ip}</b> ...` },\n  msg\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["ffb1a00b"],["ffb1a009"]]},{"id":"ffb1a009","type":"exec","z":"ffb1a001","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Kjør nmcli","x":670,"y":180,"wires":[["ffb1a00c"],["ffb1a00d"],["ffb1a00e"]]},{"id":"ffb1a00b","type":"ui-text","z":"ffb1a001","d":true,"group":"ffb1a004","order":3,"width":"8","height":"1","name":"Status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":"","color":"","className":"","x":690,"y":100,"wires":[]},{"id":"ffb1a00c","type":"function","z":"ffb1a001","name":"OK","func":"msg.payload = `OK: ETH0 satt til <b>${msg.ip}</b>`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":140,"wires":[["ffb1a00b"]]},{"id":"ffb1a00d","type":"function","z":"ffb1a001","name":"ERR","func":"const err = String(msg.payload || 'ukjent feil').trim();\nmsg.payload = `<span style=\"color:#d32f2f\">Feil: ${err}</span>`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":180,"wires":[["ffb1a00b"]]},{"id":"ffb1a00e","type":"function","z":"ffb1a001","name":"RC","func":"msg.payload = `Return code: ${msg.payload}`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":220,"wires":[["ffb1a00b"]]},{"id":"96a9f246d154a9ac","type":"link in","z":"ffb1a001","name":"link in IP","links":["f6019ca59ae26513"],"x":225,"y":60,"wires":[["ffb1a006"]]},{"id":"43312165bf9019c5","type":"inject","z":"eed4f5a48c9fc817","name":"Poll V/H alternating","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":200,"y":480,"wires":[["c05bc2615e4aa47d"]]},{"id":"c05bc2615e4aa47d","type":"function","z":"eed4f5a48c9fc817","name":"Poll Sequencer V/H","func":"/*\n * Poller bare aktive motorer.\n * flow.motor_active = { vertical:true/false, horizontal:true/false }\n */\n\n// Ikke pull hvis vi har annet å spørre etter...\nif (flow.get('motor_poll_paused')) {\n    node.status({ fill: 'yellow', shape: 'ring', text: 'paused by diagnostic read' });\n    return null;\n}\n\nlet active = flow.get('motor_active') || { vertical: true, horizontal: true };\nif (active.vertical === undefined) active.vertical = true;\nif (active.horizontal === undefined) active.horizontal = true;\nflow.set('motor_active', active);\n\nlet axes = [];\nif (active.vertical) axes.push('vertical');\nif (active.horizontal) axes.push('horizontal');\n\nif (axes.length === 0) {\n    node.status({ fill: 'grey', shape: 'ring', text: 'No active motors' });\n    return null;\n}\n\nlet next = context.get('nextAxis') || axes[0];\n\n// Hvis valgt akse er disabled, velg første aktive.\nif (!axes.includes(next)) {\n    next = axes[0];\n}\n\n// Sett opp neste aktive akse til neste runde.\nlet idx = axes.indexOf(next);\ncontext.set('nextAxis', axes[(idx + 1) % axes.length]);\n\nconst unitid = next === 'vertical' ? 1 : 2;\n\nmsg.axis = next;\nmsg.payload = {\n    fc: 3,\n    unitid,\n    address: 4,\n    quantity: 2\n};\n\nnode.status({ fill: 'blue', shape: 'dot', text: `R ${next} unit ${unitid}` });\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":380,"wires":[["7008312ed71aa5e5"]]},{"id":"7008312ed71aa5e5","type":"modbus-flex-getter","z":"eed4f5a48c9fc817","name":"COMMON READ","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"hv_modbus_client","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","x":680,"y":380,"wires":[["663f37b7736327fa","b9e613a47f74614f"],["bf559f080c85501d"]]},{"id":"663f37b7736327fa","type":"function","z":"eed4f5a48c9fc817","name":"Parse Abs Pos","func":"if (!Array.isArray(msg.payload) || msg.payload.length < 2) return null;\n\nlet raw32 = (msg.payload[1] * 0x10000) + msg.payload[0];\n\nif (raw32 & 0x80000000) {\n    raw32 -= 0x100000000;\n}\n\nconst axis = msg.axis || 'unknown';\n\n/*\n * Svar OK: nullstill feilteller for aksen.\n */\nif (axis === 'vertical' || axis === 'horizontal') {\n    let fails = flow.get('motor_fail_count') || {};\n    let hadFail = (fails[axis] || 0) > 0;\n\n    fails[axis] = 0;\n    flow.set('motor_fail_count', fails);\n\n    let timers = flow.get('motor_error_clear_timers') || {};\n    delete timers[axis];\n    flow.set('motor_error_clear_timers', timers);\n\n    if (hadFail) {\n        node.send([\n            null, null, null, null,\n            { payload: `${axis} OK`, axis, cleared: true }\n        ]);\n    }\n}\n\n/*\n * Hent ratio per akse\n */\nlet ratio;\n\nif (axis === 'vertical') {\n    ratio = global.get(\"vertical_ratio\") || 100000;\n}\nelse if (axis === 'horizontal') {\n    ratio = global.get(\"horizontal_ratio\") || 100000;\n}\nelse {\n    ratio = 100000;\n}\n\n/*\n * Konverter til grader\n */\nlet angle = 180 * raw32 / ratio;\n\nnode.status({\n    fill: 'green',\n    shape: 'dot',\n    text: `${axis}: ${angle.toFixed(1)}° (${ratio})`\n});\n\nif (axis === 'vertical') {\n    return [\n        { payload: raw32 },\n        { payload: angle.toFixed(1) + '°' },\n        null,\n        null\n    ];\n}\n\nif (axis === 'horizontal') {\n    return [\n        null,\n        null,\n        { payload: raw32 },\n        { payload: angle.toFixed(1) + '°' }\n    ];\n}\n\nreturn null;","outputs":4,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":360,"wires":[["a6e1964891f3652b"],["ccf4be0982be3ba7"],["7eef7646a40f2f0f"],["0b9e82eefe037137"]]},{"id":"bf559f080c85501d","type":"function","z":"eed4f5a48c9fc817","name":"Read error status","func":"/*\n * Ved gjentatte read-feil fases motoren ut automatisk.\n * Juster threshold ved behov.\n */\nconst axis = msg.axis || 'unknown';\nconst threshold = 3;\nconst clearDelayMs = 5000;\n\nlet active = flow.get('motor_active') || { vertical: true, horizontal: true };\nlet fails = flow.get('motor_fail_count') || {};\n\nif (axis === 'vertical' || axis === 'horizontal') {\n    fails[axis] = (fails[axis] || 0) + 1;\n\n    if (fails[axis] >= threshold) {\n        active[axis] = false;\n        flow.set('motor_active', active);\n        flow.set('motor_fail_count', fails);\n\n        node.status({\n            fill: 'red',\n            shape: 'dot',\n            text: `${axis} disabled after ${fails[axis]} errors`\n        });\n\n        return {\n            payload: `${axis} DISABLED after ${fails[axis]} read errors`,\n            axis,\n            disabled: false\n        };\n    }\n\n    flow.set('motor_fail_count', fails);\n    node.status({\n        fill: 'yellow',\n        shape: 'ring',\n        text: `${axis} read error ${fails[axis]}/${threshold}`\n    });\n\n    // ... etter fails[axis] = ...\n    let timers = flow.get('motor_error_clear_timers') || {};\n    timers[axis] = Date.now() + clearDelayMs;\n    flow.set('motor_error_clear_timers', timers);\n\n    setTimeout(() => {\n        let latestFails = flow.get('motor_fail_count') || {};\n        let latestTimers = flow.get('motor_error_clear_timers') || {};\n        let active = flow.get('motor_active') || {};\n\n        if (\n            latestTimers[axis] &&\n            Date.now() >= latestTimers[axis] &&\n            latestFails[axis] > 0 &&\n            active[axis] !== false\n        ) {\n            latestFails[axis] = 0;\n            flow.set('motor_fail_count', latestFails);\n            node.send({ payload: `${axis} OK`, axis, cleared: true });\n        }\n    }, clearDelayMs + 100);\n\n    // Ikke rapporter midlertidige oppstartsfeil til dashboard\n    return null;\n}\n\nnode.status({ fill: 'red', shape: 'ring', text: 'Read timeout/error' });\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":440,"wires":[["6a54d233fb6d6ee6"]]},{"id":"a0659fd7b52b27b9","type":"function","z":"eed4f5a48c9fc817","name":"Common Write Builder","func":"const p = msg.modbus || msg.payload || {};\n\nconst axis = p.axis || msg.axis || 'horizontal';\nconst defaultUnitId = axis === 'vertical' ? 1 : 2;\nconst unitid = Number(p.unitid || defaultUnitId);\n\nconst address = Number(p.address);\nlet values = Array.isArray(p.value) ? p.value : [p.value];\nvalues = values.map(v => Number(v));\n\nif (!Number.isFinite(unitid) || !Number.isFinite(address) || values.some(v => !Number.isFinite(v))) {\n    node.status({ fill: 'red', shape: 'ring', text: 'Invalid write' });\n    return null;\n}\n\n/*\n * Blokker kommandoer til motorer som er disablet.\n * Enable/disable-knappene går ikke gjennom denne noden, så de blokkeres ikke.\n */\nlet active = flow.get('motor_active') || { vertical: true, horizontal: true };\nif (active[axis] === false) {\n    node.status({ fill: 'grey', shape: 'ring', text: `Blocked: ${axis} disabled` });\n    return null;\n}\n\nmsg.axis = axis;\nmsg.payload = {\n    value: values,\n    fc: p.fc || (values.length > 1 ? 16 : 6),\n    unitid,\n    address,\n    quantity: p.quantity || values.length\n};\n\nnode.status({\n    fill: 'green',\n    shape: 'dot',\n    text: `W ${axis} u${unitid} ${address}=[${values.join(',')}] fc${msg.payload.fc}`\n});\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":600,"wires":[["4ced50bdc5464de3"]]},{"id":"4ced50bdc5464de3","type":"modbus-flex-write","z":"eed4f5a48c9fc817","name":"COMMON WRITE","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"hv_modbus_client","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":910,"y":600,"wires":[["c9ec82e12e0d2c08"],["c9ec82e12e0d2c08"]]},{"id":"c9ec82e12e0d2c08","type":"modbus-response","z":"eed4f5a48c9fc817","name":"","registerShowMax":20,"x":1130,"y":600,"wires":[]},{"id":"2e7c87248e2d2e9c","type":"ui-button","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","name":"","label":"STOP","order":2,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"vertical\",\"address\":200,\"value\":0}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"red","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":170,"y":660,"wires":[["a0659fd7b52b27b9"]]},{"id":"15c15d32f494028b","type":"ui-button","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","name":"","label":"Down","order":3,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"vertical\",\"address\":200,\"value\":1}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":170,"y":620,"wires":[["a0659fd7b52b27b9"]]},{"id":"8c90afaf437d28c4","type":"ui-button","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","name":"","label":"Up","order":1,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"vertical\",\"address\":200,\"value\":257}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":170,"y":700,"wires":[["a0659fd7b52b27b9"]]},{"id":"2513e077aea163c1","type":"ui-button","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","name":"","label":"STOP","order":2,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"horizontal\",\"address\":200,\"value\":0}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"red","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":170,"y":960,"wires":[["a0659fd7b52b27b9"]]},{"id":"e8a90372c1c6737d","type":"ui-button","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","name":"","label":"Left","order":1,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"horizontal\",\"address\":200,\"value\":1}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":170,"y":920,"wires":[["a0659fd7b52b27b9"]]},{"id":"d05110962493b889","type":"ui-button","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","name":"","label":"Right","order":3,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"horizontal\",\"address\":200,\"value\":257}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":170,"y":1000,"wires":[["a0659fd7b52b27b9"]]},{"id":"7eef7646a40f2f0f","type":"ui-text","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","order":11,"width":2,"height":1,"name":"","label":"Raw pos","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":420,"wires":[]},{"id":"0b9e82eefe037137","type":"ui-text","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","order":12,"width":2,"height":1,"name":"","label":"Angle","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":460,"wires":[]},{"id":"a6e1964891f3652b","type":"ui-text","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","order":9,"width":2,"height":1,"name":"","label":"Raw pos","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":300,"wires":[]},{"id":"ccf4be0982be3ba7","type":"ui-text","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","order":10,"width":2,"height":1,"name":"","label":"Angle","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":340,"wires":[]},{"id":"8e3d3557811ca981","type":"inject","z":"eed4f5a48c9fc817","name":"Init vertical","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"vertical","payload":"{\"axis\":\"vertical\",\"address\":212,\"value\":0}","payloadType":"json","x":210,"y":520,"wires":[["a0659fd7b52b27b9"]]},{"id":"bc21209c6d8bb6c9","type":"inject","z":"eed4f5a48c9fc817","name":"Init horizontal","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"horizontal","payload":"{\"axis\":\"horizontal\",\"address\":212,\"value\":0}","payloadType":"json","x":200,"y":560,"wires":[["a0659fd7b52b27b9"]]},{"id":"282c4fcbc39f5f5f","type":"get-shared-state","z":"eed4f5a48c9fc817","state":"f850a674e989caf7","name":"myVertical_ratio","triggerOnInit":true,"triggerOnChange":true,"x":180,"y":100,"wires":[["2dd4a5c79fe3ce93"]]},{"id":"b3a7f1b4bc45fbf6","type":"set-shared-state","z":"eed4f5a48c9fc817","state":"f850a674e989caf7","name":"myVertical_ratio","triggerOnInit":true,"triggerOnChange":true,"provideOutput":false,"outputs":0,"x":660,"y":120,"wires":[]},{"id":"64bf0876a4df75f2","type":"change","z":"eed4f5a48c9fc817","name":"","rules":[{"t":"set","p":"vertical_ratio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[[]]},{"id":"2dd4a5c79fe3ce93","type":"ui-number-input","z":"eed4f5a48c9fc817","group":"e68cd5bb89eb3aeb","name":"","label":"Vertical ratio","order":2,"width":"2","height":1,"topic":"topic","topicType":"msg","min":0,"max":"100000000","step":1,"tooltip":"","delay":300,"passthru":true,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":390,"y":100,"wires":[["b3a7f1b4bc45fbf6","64bf0876a4df75f2"]]},{"id":"e35d17a1d993356e","type":"get-shared-state","z":"eed4f5a48c9fc817","state":"4fc351d180d90359","name":"myHorizontal_ratio","triggerOnInit":true,"triggerOnChange":true,"x":190,"y":180,"wires":[["524619251c51f72a"]]},{"id":"f8d240953005d174","type":"set-shared-state","z":"eed4f5a48c9fc817","state":"4fc351d180d90359","name":"myHorizontal_ratio","triggerOnInit":true,"triggerOnChange":true,"provideOutput":false,"outputs":0,"x":670,"y":220,"wires":[]},{"id":"f32c4777c959aee0","type":"change","z":"eed4f5a48c9fc817","name":"","rules":[{"t":"set","p":"horizontal_ratio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":180,"wires":[[]]},{"id":"524619251c51f72a","type":"ui-number-input","z":"eed4f5a48c9fc817","group":"e68cd5bb89eb3aeb","name":"","label":"Horizontal ratio","order":1,"width":"2","height":1,"topic":"topic","topicType":"msg","min":0,"max":"100000000","step":1,"tooltip":"","delay":300,"passthru":true,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":390,"y":180,"wires":[["f8d240953005d174","f32c4777c959aee0"]]},{"id":"c6a9a2fb64cd1816","type":"ui-number-input","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","name":"","label":"Speed (0-1000)","order":8,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":"1000","step":1,"tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":200,"y":740,"wires":[["2e5ee353936d8fc8"]]},{"id":"2e5ee353936d8fc8","type":"function","z":"eed4f5a48c9fc817","name":"format vertical speed","func":"msg.payload = {\n    \"axis\": \"vertical\",\n    \"address\": 154,\n    \"value\": msg.payload\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":740,"wires":[["a0659fd7b52b27b9"]]},{"id":"88f567d37c944ad6","type":"ui-number-input","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","name":"","label":"Speed (0-1000)","order":8,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":"1000","step":1,"tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":200,"y":1040,"wires":[["31b8faf9b88354ee"]]},{"id":"31b8faf9b88354ee","type":"function","z":"eed4f5a48c9fc817","name":"format horizontal speed","func":"msg.payload = {\n    \"axis\": \"horizontal\",\n    \"address\": 154,\n    \"value\": msg.payload\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1040,"wires":[["a0659fd7b52b27b9"]]},{"id":"d256a611ea362da5","type":"function","z":"eed4f5a48c9fc817","d":true,"name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\n/* {\"axis\":\"horizontal\",\"address\":200,\"value\":0}\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 208,\n  quantity: 1\n}; */\nmsg.payload = {\n  \"axis\":\"horizontal\",\n  \"address\": 208,\n  \"value\": values\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1260,"wires":[["a0659fd7b52b27b9"]]},{"id":"bd9e370597e4174a","type":"inject","z":"eed4f5a48c9fc817","d":true,"name":"Goto 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":210,"y":1300,"wires":[["6fc50b210b799c08"]]},{"id":"dddeea790f7a09a4","type":"function","z":"eed4f5a48c9fc817","d":true,"name":"Build Reset Abs Pos Horiz Flex req","func":"let values = Array.isArray(msg.payload) ? msg.payload : [Number(msg.payload)];\nvalues = values.map(v => Number(v));\nif (values.some(v => !Number.isFinite(v))) return null;\n\n/*\nmsg.payload = {\n  value: values,\n  fc: values.length > 1 ? 16 : 6,\n  unitid: 2,\n  address: 209,\n  quantity: 1\n};\n*/\nmsg.payload = {\n  \"axis\":\"horizontal\",\n  \"address\": 209,\n  \"value\": values\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1320,"wires":[["a0659fd7b52b27b9"]]},{"id":"53ab8ab94349041b","type":"delay","z":"eed4f5a48c9fc817","d":true,"name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":550,"y":1320,"wires":[["dddeea790f7a09a4"]]},{"id":"7ceb88f85429fb3b","type":"function","z":"eed4f5a48c9fc817","d":true,"name":"splitt","func":"// Input: msg.payload = int32\n// Output: msg.payload = [LOW_WORD, HIGH_WORD]\n\nlet v = Number(msg.payload);\n\n// Tving til signed int32\nv = v >> 0;\n\n// Konverter til uint32 representation\nlet u32 = v >>> 0;\n\n// Del opp i to WORDs\nlet lo = u32 & 0xFFFF;\nlet hi = (u32 >>> 16) & 0xFFFF;\n\n//msg.payload = [lo, hi];\n\nreturn [\n    {payload: lo},\n    {payload: hi}\n];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1260,"wires":[["d256a611ea362da5"],["53ab8ab94349041b"]]},{"id":"6fc50b210b799c08","type":"ui-slider","z":"eed4f5a48c9fc817","d":true,"group":"e194e44d93f41213","name":"","label":"Goto Abs. pos.","tooltip":"","order":13,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":"-100000000","max":"10000000","step":"100","className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":360,"y":1260,"wires":[["7ceb88f85429fb3b"]]},{"id":"646ebddec9574fd3","type":"ui-number-input","z":"eed4f5a48c9fc817","d":true,"group":"e194e44d93f41213","name":"","label":"Goto number","order":10,"width":0,"height":0,"topic":"topic","topicType":"msg","min":"-180","max":"180","step":"1","tooltip":"","delay":300,"passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":200,"y":1380,"wires":[["cab9cc7c98681e98"]]},{"id":"c71635b992319bcf","type":"ui-button","z":"eed4f5a48c9fc817","d":true,"group":"e194e44d93f41213","name":"","label":"Goto","order":9,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"myHorizontalSetValue","payloadType":"flow","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":190,"y":1260,"wires":[["6fc50b210b799c08"]]},{"id":"2b6c732f8ebed2f0","type":"change","z":"eed4f5a48c9fc817","d":true,"name":"","rules":[{"t":"set","p":"myHorizontalSetValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1380,"wires":[[]]},{"id":"cab9cc7c98681e98","type":"function","z":"eed4f5a48c9fc817","d":true,"name":"Range","func":"msg.payload = msg.payload*100000/180;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1380,"wires":[["2b6c732f8ebed2f0"]]},{"id":"9ef55ddb16f26979","type":"inject","z":"eed4f5a48c9fc817","name":"Init motor active state","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":200,"y":220,"wires":[["e7455820d1551c37"]]},{"id":"e7455820d1551c37","type":"function","z":"eed4f5a48c9fc817","name":"Init active defaults","func":"let active = flow.get('motor_active');\nif (!active) {\n    active = { vertical: true, horizontal: true };\n}\nif (active.vertical === undefined) active.vertical = true;\nif (active.horizontal === undefined) active.horizontal = true;\nflow.set('motor_active', active);\n\nlet fails = flow.get('motor_fail_count') || {};\nif (fails.vertical === undefined) fails.vertical = 0;\nif (fails.horizontal === undefined) fails.horizontal = 0;\nflow.set('motor_fail_count', fails);\n\nreturn {\n    payload: `Active: V=${active.vertical ? 'ON' : 'OFF'}, H=${active.horizontal ? 'ON' : 'OFF'}`\n};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":300,"wires":[["6a54d233fb6d6ee6"]]},{"id":"7497d8966788dc66","type":"function","z":"eed4f5a48c9fc817","name":"Set motor active/disabled","func":"/*\n * msg.payload = { axis:'vertical'|'horizontal', active:true|false }\n */\nconst p = msg.payload || {};\nconst axis = p.axis;\nconst isActive = !!p.active;\n\nif (axis !== 'vertical' && axis !== 'horizontal') {\n    node.status({ fill: 'red', shape: 'ring', text: 'Invalid axis' });\n    return null;\n}\n\nlet active = flow.get('motor_active') || { vertical: true, horizontal: true };\nlet fails = flow.get('motor_fail_count') || {};\n\nactive[axis] = isActive;\nif (isActive) {\n    fails[axis] = 0;\n}\n\nflow.set('motor_active', active);\nflow.set('motor_fail_count', fails);\n\nconst txt = `${axis} ${isActive ? 'ENABLED' : 'DISABLED'}`;\nnode.status({\n    fill: isActive ? 'green' : 'grey',\n    shape: isActive ? 'dot' : 'ring',\n    text: txt\n});\n\nreturn { payload: txt, axis, active: isActive };","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":300,"wires":[["6a54d233fb6d6ee6"]]},{"id":"6a54d233fb6d6ee6","type":"ui-text","z":"eed4f5a48c9fc817","group":"e68cd5bb89eb3aeb","order":7,"width":6,"height":1,"name":"","label":"Motor status","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":380,"wires":[]},{"id":"594660874057498f","type":"ui-button","z":"eed4f5a48c9fc817","group":"e68cd5bb89eb3aeb","name":"","label":"Enable V","order":3,"width":"1","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"vertical\",\"active\":true}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":140,"y":260,"wires":[["7497d8966788dc66"]]},{"id":"8e5828111f28709a","type":"ui-button","z":"eed4f5a48c9fc817","group":"e68cd5bb89eb3aeb","name":"","label":"Disable V","order":4,"width":"1","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"vertical\",\"active\":false}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":140,"y":300,"wires":[["7497d8966788dc66"]]},{"id":"a20276286cdf048a","type":"ui-button","z":"eed4f5a48c9fc817","group":"e68cd5bb89eb3aeb","name":"","label":"Enable H","order":5,"width":"1","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"horizontal\",\"active\":true}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":140,"y":340,"wires":[["7497d8966788dc66"]]},{"id":"c5a1b43d7f89bccc","type":"ui-button","z":"eed4f5a48c9fc817","group":"e68cd5bb89eb3aeb","name":"","label":"Disable H","order":6,"width":"1","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"horizontal\",\"active\":false}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":140,"y":380,"wires":[["7497d8966788dc66"]]},{"id":"dded94eeb8da8297","type":"ui-button","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","name":"","label":"Set Zero Pos","order":4,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"horizontal\",\"address\":210,\"value\":0}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":190,"y":1080,"wires":[["a0659fd7b52b27b9","b070e1d9e536415c"]]},{"id":"b070e1d9e536415c","type":"function","z":"eed4f5a48c9fc817","name":"address+1","func":"msg.payload.address += 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1080,"wires":[["a0659fd7b52b27b9"]]},{"id":"40e09e08cf894c08","type":"ui-button","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","name":"","label":"Set Zero Pos","order":4,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"vertical\",\"address\":210,\"value\":0}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":190,"y":780,"wires":[["7d2c7359f3bad84b","a0659fd7b52b27b9"]]},{"id":"7d2c7359f3bad84b","type":"function","z":"eed4f5a48c9fc817","name":"address+1","func":"msg.payload.address += 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":780,"wires":[["a0659fd7b52b27b9"]]},{"id":"a741d977ee7dd99a","type":"ui-button","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","name":"","label":"Clear Error Flags","order":5,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"vertical\",\"address\":164,\"value\":0}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":210,"y":820,"wires":[["a0659fd7b52b27b9"]]},{"id":"1648a6ed3351e531","type":"ui-button","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","name":"","label":"Clear Error Flags","order":5,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"horizontal\",\"address\":164,\"value\":0}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":210,"y":1120,"wires":[["a0659fd7b52b27b9"]]},{"id":"47d3ddbaf12bf16e","type":"inject","z":"eed4f5a48c9fc817","name":"Get Horisontal Register 0D","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"{\"fc\":3,\"unitid\":2,\"address\":13,\"quantity\":1}","payloadType":"json","x":220,"y":440,"wires":[["7008312ed71aa5e5"]]},{"id":"b9e613a47f74614f","type":"debug","z":"eed4f5a48c9fc817","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":260,"wires":[]},{"id":"e29f5d1f055707bb","type":"ui-button","z":"eed4f5a48c9fc817","group":"e194e44d93f41213","name":"","label":"Set Motor Power [0.01A]","order":6,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"horizontal\",\"address\":13,\"value\":100}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":230,"y":1160,"wires":[["a0659fd7b52b27b9"]]},{"id":"ce6e1abaca34c8fc","type":"ui-button","z":"eed4f5a48c9fc817","group":"c4e0adf5a2730504","name":"","label":"Set Motor Power [0.01A]","order":6,"width":"4","height":1,"emulateClick":true,"className":"","icon":"","iconPosition":"left","payload":"{\"axis\":\"vertical\",\"address\":13,\"value\":250}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":230,"y":860,"wires":[["a0659fd7b52b27b9"]]},{"id":"comment_9c7a9c23a2","type":"comment","z":"tab_motor_diag_d2_buttons","name":"Viktig: legg inn pause-sperre i Poll Sequencer V/H","info":"Add this at the TOP of your existing Poll Sequencer V/H function:\n\nif (flow.get('motor_poll_paused')) {\n    node.status({ fill: 'yellow', shape: 'ring', text: 'paused by diagnostic read' });\n    return null;\n}\n","x":320,"y":60,"wires":[]},{"id":"btn_snapshot_29eac0ebd7","type":"ui-button","z":"tab_motor_diag_d2_buttons","group":"ui_group_motor_diag_ctrl_v2","name":"Read snapshot both","label":"Read snapshot","order":1,"width":"4","height":"1","emulateClick":false,"tooltip":"Read diagnostic registers for both axes","color":"","bgcolor":"","className":"","icon":"mdi-database-search","iconPosition":"left","payload":"{\"action\":\"snapshot_both\"}","payloadType":"json","topic":"motor_snapshot_both","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":150,"y":140,"wires":[["fn_start_0cad927294"]]},{"id":"btn_reset_1d39af7294","type":"ui-button","z":"tab_motor_diag_d2_buttons","group":"ui_group_motor_diag_ctrl_v2","name":"Reset peak values both","label":"Reset peak values","order":2,"width":"4","height":"1","emulateClick":false,"tooltip":"Reset 0x0044-0x0048 for both axes","color":"","bgcolor":"","className":"","icon":"mdi-backup-restore","iconPosition":"left","payload":"{\"action\":\"reset_peaks_both\"}","payloadType":"json","topic":"motor_reset_peaks_both","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":160,"y":280,"wires":[["fn_reset_start_781700111d"]]},{"id":"fn_start_0cad927294","type":"function","z":"tab_motor_diag_d2_buttons","name":"Start snapshot / pause polling","func":"/*\n * Motor Driver Snapshot - start\n * Always reads both axes:\n *   vertical   unitid 1\n *   horizontal unitid 2\n *\n * Does NOT depend on flow.motor_active.\n */\n\nflow.set('motor_poll_paused', true);\n\nlet axes = [\n    { axis: 'vertical', unitid: 1 },\n    { axis: 'horizontal', unitid: 2 }\n];\n\nconst regs = [\n    { name: 'position', address: 0x0004, quantity: 2, type: 'int32', unit: 'pulses', desc: 'Motor real-time position' },\n    { name: 'status', address: 0x0006, quantity: 2, type: 'uint32', unit: '', desc: 'Status register: alarm, running, in-position, limits, inputs' },\n\n    { name: 'rated_current', address: 0x000D, quantity: 1, type: 'uint16', scale: 0.01, unit: 'A', desc: 'Rated motor current' },\n    { name: 'idle_min_current', address: 0x000E, quantity: 1, type: 'uint16', unit: '%', desc: 'Idle current and closed-loop minimum running current percentage' },\n    { name: 'position_error', address: 0x0011, quantity: 1, type: 'int16', unit: 'pulses/counts', desc: 'Actual position deviation between rotor and command position' },\n    { name: 'actual_current', address: 0x001A, quantity: 1, type: 'uint16', unit: 'mA', desc: 'Real-time motor current' },\n\n    { name: 'max_bus_voltage', address: 0x0044, quantity: 1, type: 'uint16', scale: 0.01, unit: 'V', desc: 'Maximum bus voltage since last reset' },\n    { name: 'max_overload_current', address: 0x0045, quantity: 1, type: 'uint16', scale: 0.01, unit: 'A', desc: 'Maximum overload current since last reset' },\n    { name: 'max_lag_pulse', address: 0x0046, quantity: 1, type: 'uint16', unit: 'pulses/counts', desc: 'Maximum lag pulse count since last reset' },\n    { name: 'max_lead_pulse', address: 0x0047, quantity: 1, type: 'uint16', unit: 'pulses/counts', desc: 'Maximum lead pulse count since last reset' },\n    { name: 'min_bus_voltage', address: 0x0048, quantity: 1, type: 'uint16', scale: 0.01, unit: 'V', desc: 'Minimum bus voltage since last reset' },\n\n    { name: 'start_speed', address: 0x0096, quantity: 1, type: 'uint16', unit: 'rpm', desc: 'Start speed' },\n    { name: 'stop_speed', address: 0x0097, quantity: 1, type: 'uint16', unit: 'rpm', desc: 'Stop speed' },\n    { name: 'accel_time', address: 0x0098, quantity: 1, type: 'uint16', unit: 'ms', desc: 'Acceleration time' },\n    { name: 'decel_time', address: 0x0099, quantity: 1, type: 'uint16', unit: 'ms', desc: 'Deceleration time' },\n    { name: 'run_speed', address: 0x009A, quantity: 1, type: 'uint16', unit: 'rpm', desc: 'Run speed' },\n\n    { name: 'position_p', address: 0x00BF, quantity: 1, type: 'uint16', unit: '', desc: 'Position proportional gain' },\n    { name: 'position_i', address: 0x0029, quantity: 1, type: 'uint16', unit: '', desc: 'Position integral gain' },\n    { name: 'speed_p', address: 0x00C0, quantity: 1, type: 'uint16', unit: '', desc: 'Speed proportional gain' },\n    { name: 'speed_i', address: 0x00C1, quantity: 1, type: 'uint16', unit: '', desc: 'Speed integral gain' }\n];\n\nlet queue = [];\nfor (const ax of axes) {\n    for (const r of regs) queue.push({ ...ax, ...r });\n}\n\nflow.set('motor_diag_queue', queue);\nflow.set('motor_diag_result', {});\nflow.set('motor_diag_meta', {\n    started: new Date().toISOString(),\n    action: 'snapshot_both',\n    count: queue.length,\n    note: 'Normal motor position polling is paused while this snapshot is running.'\n});\n\nlet req = queue.shift();\nflow.set('motor_diag_queue', queue);\n\nmsg.axis = req.axis;\nmsg.reg = req;\nmsg.payload = {\n    fc: 3,\n    unitid: req.unitid,\n    address: req.address,\n    quantity: req.quantity\n};\n\nnode.status({ fill: 'yellow', shape: 'dot', text: `diag ${req.axis} 0x${req.address.toString(16).padStart(4,'0')}` });\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["modbus_getter_d740a86388"]]},{"id":"modbus_getter_d740a86388","type":"modbus-flex-getter","z":"tab_motor_diag_d2_buttons","name":"Modbus Flex Getter - select client","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"hv_modbus_client","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","x":760,"y":140,"wires":[["fn_collector_86e2653710"],[]]},{"id":"fn_collector_86e2653710","type":"function","z":"tab_motor_diag_d2_buttons","name":"Collect response / next request","func":"/*\n * Motor Driver Snapshot - response collector\n *\n * Output 1: next Modbus request, loop back to modbus-flex-getter\n * Output 2: finished result for dashboard/debug\n */\n\nfunction u16(v) { return v & 0xFFFF; }\nfunction i16(v) {\n    v = v & 0xFFFF;\n    return v & 0x8000 ? v - 0x10000 : v;\n}\nfunction u32(words) {\n    return ((words[0] & 0xFFFF) << 16) + (words[1] & 0xFFFF);\n}\nfunction i32(words) {\n    let v = u32(words);\n    return v > 0x7FFFFFFF ? v - 0x100000000 : v;\n}\nfunction decodeStatus(v) {\n    const runningBits = (v >> 9) & 0x03;\n    return {\n        raw: v,\n        alarm: !!(v & (1 << 21)),\n        position_deviation_warning: !!(v & (1 << 10)),\n        in_position: !!(v & (1 << 12)),\n        software_negative_limit: !!(v & (1 << 13)),\n        software_positive_limit: !!(v & (1 << 14)),\n        origin_complete: !!(v & (1 << 15)),\n        enable_level_flag: !!(v & (1 << 16)),\n        running_state_bits: runningBits,\n        running_state:\n            runningBits === 0 ? 'Idle' :\n            runningBits === 1 ? 'About to start' :\n            runningBits === 2 ? 'About to stop' :\n            'Running',\n        inputs: {\n            x0: !!(v & (1 << 0)),\n            x1: !!(v & (1 << 1)),\n            x2: !!(v & (1 << 2)),\n            x3: !!(v & (1 << 3)),\n            x4: !!(v & (1 << 4)),\n            x5: !!(v & (1 << 5)),\n            x6: !!(v & (1 << 6)),\n            x7: !!(v & (1 << 7))\n        }\n    };\n}\nfunction getDataArray(msg) {\n    if (Array.isArray(msg.payload)) return msg.payload;\n    if (Array.isArray(msg.payload?.data)) return msg.payload.data;\n    if (Array.isArray(msg.responseBuffer?.data)) return msg.responseBuffer.data;\n    return null;\n}\n\nlet reg = msg.reg;\nlet data = getDataArray(msg);\n\nif (!reg || !data) {\n    flow.set('motor_poll_paused', false);\n    node.status({ fill: 'red', shape: 'ring', text: 'bad response, polling resumed' });\n    return [null, { topic: 'motor_driver_snapshot_error', payload: { error: 'Bad Modbus response or missing msg.reg', msg } }];\n}\n\nlet raw;\nif (reg.type === 'int32') raw = i32(data);\nelse if (reg.type === 'uint32') raw = u32(data);\nelse if (reg.type === 'int16') raw = i16(data[0]);\nelse raw = u16(data[0]);\n\nlet value = reg.scale ? Number((raw * reg.scale).toFixed(3)) : raw;\n\nlet result = flow.get('motor_diag_result') || {};\nif (!result[reg.axis]) result[reg.axis] = {};\n\nresult[reg.axis][reg.name] = {\n    axis: reg.axis,\n    unitid: reg.unitid,\n    register: '0x' + reg.address.toString(16).padStart(4, '0').toUpperCase(),\n    words: reg.quantity,\n    raw,\n    value,\n    unit: reg.unit || '',\n    description: reg.desc\n};\n\nif (reg.name === 'status') {\n    result[reg.axis][reg.name].decoded = decodeStatus(raw);\n}\n\nflow.set('motor_diag_result', result);\n\nlet queue = flow.get('motor_diag_queue') || [];\n\nif (queue.length > 0) {\n    let req = queue.shift();\n    flow.set('motor_diag_queue', queue);\n\n    let nextMsg = {\n        axis: req.axis,\n        reg: req,\n        payload: {\n            fc: 3,\n            unitid: req.unitid,\n            address: req.address,\n            quantity: req.quantity\n        }\n    };\n\n    node.status({ fill: 'yellow', shape: 'dot', text: `diag ${req.axis} 0x${req.address.toString(16).padStart(4,'0')}` });\n    return [nextMsg, null];\n}\n\nflow.set('motor_poll_paused', false);\n\nlet meta = flow.get('motor_diag_meta') || {};\nmeta.finished = new Date().toISOString();\n\nlet out = {\n    topic: 'motor_driver_snapshot',\n    payload: {\n        meta,\n        result\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'diag done, polling resumed' });\nreturn [null, out];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"flow.set('motor_poll_paused', false);","libs":[],"x":1090,"y":140,"wires":[["modbus_getter_d740a86388"],["fn_table_d4706e0d32","debug_json_16ad0b243d"]]},{"id":"fn_table_d4706e0d32","type":"function","z":"tab_motor_diag_d2_buttons","name":"Format comparison table","func":"/*\n * Convert diagnostic snapshot to comparison table.\n * One row per register, columns for Vertical and Horizontal.\n */\n\nconst label = {\n    position: 'Position',\n    status: 'Status',\n    rated_current: 'Rated current',\n    idle_min_current: 'Idle/min current',\n    position_error: 'Position error',\n    actual_current: 'Actual current',\n    max_bus_voltage: 'Max bus voltage',\n    max_overload_current: 'Max overload current',\n    max_lag_pulse: 'Max lag pulse',\n    max_lead_pulse: 'Max lead pulse',\n    min_bus_voltage: 'Min bus voltage',\n    start_speed: 'Start speed',\n    stop_speed: 'Stop speed',\n    accel_time: 'Accel time',\n    decel_time: 'Decel time',\n    run_speed: 'Run speed',\n    position_p: 'Position P',\n    position_i: 'Position I',\n    speed_p: 'Speed P',\n    speed_i: 'Speed I'\n};\n\nconst order = [\n    'position', 'status',\n    'rated_current', 'idle_min_current', 'position_error', 'actual_current',\n    'max_bus_voltage', 'max_overload_current', 'max_lag_pulse', 'max_lead_pulse', 'min_bus_voltage',\n    'start_speed', 'stop_speed', 'accel_time', 'decel_time', 'run_speed',\n    'position_p', 'position_i', 'speed_p', 'speed_i'\n];\n\nfunction fmt(r) {\n    if (!r) return '';\n    if (r.decoded && r.decoded.running_state) {\n        let alarm = r.decoded.alarm ? 'ALARM' : 'OK';\n        return `${alarm}, ${r.decoded.running_state}, raw=${r.raw}`;\n    }\n    if (r.unit) return `${r.value} ${r.unit}`;\n    return String(r.value);\n}\n\nlet res = msg.payload?.result || {};\nlet rows = [];\n\nfor (const key of order) {\n    const vr = res.vertical?.[key];\n    const hr = res.horizontal?.[key];\n    const any = vr || hr;\n    rows.push({\n        parameter: label[key] || key,\n        register: any?.register || '',\n        vertical: fmt(vr),\n        horizontal: fmt(hr),\n        unit: any?.unit || '',\n        description: any?.description || ''\n    });\n}\n\nmsg.payload = {\n    rows,\n    updated: new Date().toLocaleString('no-NO')\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":110,"wires":[["debug_table_13cf7edf82","b8f532a9745bc527"]]},{"id":"debug_json_16ad0b243d","type":"debug","z":"tab_motor_diag_d2_buttons","name":"Snapshot JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":180,"wires":[]},{"id":"debug_table_13cf7edf82","type":"debug","z":"tab_motor_diag_d2_buttons","name":"Comparison table rows","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":140,"wires":[]},{"id":"fn_reset_start_781700111d","type":"function","z":"tab_motor_diag_d2_buttons","name":"Start peak reset / pause polling","func":"/*\n * Reset motor diagnostic peak values.\n * Always resets both axes:\n *   vertical   unitid 1\n *   horizontal unitid 2\n *\n * Writes 0 to:\n *   0x0044 max bus voltage\n *   0x0045 max overload current\n *   0x0046 max lag pulse\n *   0x0047 max lead pulse\n *   0x0048 min bus voltage\n */\n\nflow.set('motor_poll_paused', true);\n\nlet axes = [\n    { axis: 'vertical', unitid: 1 },\n    { axis: 'horizontal', unitid: 2 }\n];\n\nconst addresses = [0x0044, 0x0045, 0x0046, 0x0047, 0x0048];\n\nlet queue = [];\n\nfor (const ax of axes) {\n    for (const address of addresses) {\n        queue.push({\n            axis: ax.axis,\n            unitid: ax.unitid,\n            address\n        });\n    }\n}\n\nflow.set('motor_peak_reset_meta', {\n    started: new Date().toISOString(),\n    action: 'reset_peaks_both',\n    count: queue.length\n});\n\nlet req = queue.shift();\n\nif (!req) {\n    flow.set('motor_poll_paused', false);\n    node.status({ fill: 'grey', shape: 'ring', text: 'no reset requests' });\n    return null;\n}\n\nflow.set('motor_peak_reset_queue', queue);\n\nmsg.resetReq = req;\n\nmsg.payload = {\n    value: [0],\n    fc: 6,\n    unitid: req.unitid,\n    address: req.address,\n    quantity: 1\n};\n\nnode.status({\n    fill: 'orange',\n    shape: 'dot',\n    text: `reset ${req.axis} 0x${req.address.toString(16)}`\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["modbus_writer_5ef4d09c05"]]},{"id":"modbus_writer_5ef4d09c05","type":"modbus-flex-write","z":"tab_motor_diag_d2_buttons","name":"Modbus Flex Write - select client","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"hv_modbus_client","emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":760,"y":280,"wires":[["fn_reset_collector_8414cfc957"],[]]},{"id":"fn_reset_collector_8414cfc957","type":"function","z":"tab_motor_diag_d2_buttons","name":"Peak reset collector","func":"/*\n * Peak reset collector.\n * Output 1: next write request\n * Output 2: done message\n */\n\nlet queue = flow.get('motor_peak_reset_queue') || [];\n\nif (queue.length > 0) {\n    let req = queue.shift();\n    flow.set('motor_peak_reset_queue', queue);\n\n    let nextMsg = {\n        resetReq: req,\n        payload: {\n            value: [0],\n            fc: 6,\n            unitid: req.unitid,\n            address: req.address,\n            quantity: 1\n        }\n    };\n\n    node.status({ fill: 'orange', shape: 'dot', text: `reset ${req.axis} 0x${req.address.toString(16)}` });\n    return [nextMsg, null];\n}\n\nflow.set('motor_poll_paused', false);\n\nlet meta = flow.get('motor_peak_reset_meta') || {};\nmeta.finished = new Date().toISOString();\n\nnode.status({ fill: 'green', shape: 'dot', text: 'peak reset done, polling resumed' });\n\nreturn [null, {\n    topic: 'motor_peak_reset',\n    payload: {\n        ok: true,\n        meta,\n        note: 'Peak registers 0x0044-0x0048 reset to 0 for both axes. Normal polling resumed.'\n    }\n}];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"flow.set('motor_poll_paused', false);","libs":[],"x":1050,"y":280,"wires":[["modbus_writer_5ef4d09c05"],["debug_reset_1a71c13af1"]]},{"id":"debug_reset_1a71c13af1","type":"debug","z":"tab_motor_diag_d2_buttons","name":"Peak reset done","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":280,"wires":[]},{"id":"b8f532a9745bc527","type":"ui-template","z":"tab_motor_diag_d2_buttons","group":"ui_group_motor_diag_table_buttons","page":"","ui":"","name":"","order":0,"width":0,"height":0,"head":"","format":"<template>\n  <div>\n    <h3>Motor driver register values</h3>\n    <div style=\"font-size: 0.85em; margin-bottom: 8px;\">\n      Sist oppdatert: {{ msg.payload.updated }}\n    </div>\n\n    <table style=\"width:100%; border-collapse:collapse; font-size:0.9em;\">\n      <thead>\n        <tr>\n          <th style=\"text-align:left; border-bottom:1px solid #ccc;\">Parameter</th>\n          <th style=\"text-align:left; border-bottom:1px solid #ccc;\">Register</th>\n          <th style=\"text-align:left; border-bottom:1px solid #ccc;\">Vertical</th>\n          <th style=\"text-align:left; border-bottom:1px solid #ccc;\">Horizontal</th>\n          <th style=\"text-align:left; border-bottom:1px solid #ccc;\">Beskrivelse</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr v-for=\"r in msg.payload.rows\" :key=\"r.parameter\">\n          <td>{{ r.parameter }}</td>\n          <td>{{ r.register }}</td>\n          <td>{{ r.vertical }}</td>\n          <td>{{ r.horizontal }}</td>\n          <td>{{ r.description }}</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1620,"y":100,"wires":[[]]},{"id":"3b34c0f47ffdf0e3","type":"global-config","env":[],"modules":{"@flowfuse/node-red-dashboard":"1.30.2","node-red-contrib-modbus":"5.45.2","node-red-contrib-state":"1.6.1"}}]